h3 
  span.text-primary Párrafos
.row
  .col-sm-10
    .panel
      .panel-body.p0
        .mb-sm.clearfix
          .col-sm-2
          label.col-sm-1.control-label Reporte:
          .col-sm-5
            select.form-control(ng-model='reporte.current', ng-options='item.nombre for item in reporte.data', ng-change="reporte.getData()")
.row
  .col-sm-10
    .panel.panel-default
      .panel-body
        form.form-horizontal
        fieldset
          legend Reporte: {{reporte.current.nombre}}
          .table-responsive.table-bordered(style="width: 100%; height: 400px;")
            table.table.table-hover.wd-wide
              thead
                tr
                  th SECCIÓN
                  th ID
                  th TEXTO
                  TH ESTILO
                  th
              tbody
                tr(ng-repeat='item in gridOptions.data', ng-init="showTextArea=false")
                  td {{item.seccion}}
                  td {{item.id}}
                  td(ng-if="showTextArea==false") {{item.texto}}
                  td(ng-if="showTextArea==true")
                    textarea.form-control(ng-model='item.texto', colspan="5")
                  td(ng-if="showTextArea==false") {{item.estilo}}
                  td(ng-if="showTextArea==true")
                    select.form-control(ng-model='estilos.current', ng-options='item.nombre for item in estilos.data', ng-change="")
                  td.wd-sm
                    .ph.m0.visible-inline.pull-right
                      em.icon-pencil.mr(tooltip="Editar", tooltip-placement='bottom', ng-click="showTextArea=!showTextArea")
                      em.icon-trash.mr.text-danger(tooltip="Eliminar", tooltip-placement='bottom', ng-click='gridOptions.removeItem(item)')
.container-fluid
  // doesn't support controllerAs syntax https://github.com/voidberg/html5sortable/issues/86
  ul.list-group(html-sortable='sortableOptions', html-sortable-callback='sortableCallback', ng-model='data1')
    li.list-group-item(ng-repeat='itm in data1') 
      em.fa.fa-reorder.fa-fw.text-muted.mr-lg
      | {{itm.name}}

  button.btn.btn-info(ng-click="add()") Add another