<html>

<body>
   <h3><a ng-click="producto.back()" class="text-primary">Producto</a>
      <small>Gestiona la información de los productos</small>
   </h3>
   <div class="row">
      <div class="panel">
         <div class="panel-body">
            <form role="form" class="form-horizontal mb-lg">
               <div class="form-group m-sm">
                  <fieldset class="mb-sm pb-sm">
                     <div class="mb-lg clearfix">
                        <button type="button" tooltip="Guardar" ng-click="producto.save()" class="btn btn-sm btn-primary">
                           <span>GUARDAR</span>
                        </button>
                        <button type="button" tooltip="Cancelar" ng-click="producto.back()" class="btn btn-sm btn-default">
                           <span>CANCELAR</span>
                        </button>
                     </div>
                     <div class="mb-sm clearfix">
                        <label class="col-md-2 control-label">Nombre</label>
                        <div class="col-md-6">
                           <input ng-model="producto.model.nombre" ng-maxlength="80" ng-pattern="nombre" class="form-control input-sm" />
                        </div>
                     </div>
                     <div class="mb-sm clearfix">
                        <label class="col-md-2 control-label">Descripción</label>
                        <div class="col-md-6">
                           <textarea ng-model="producto.model.descripcion" class="form-control"></textarea>
                        </div>
                     </div>
                     <div class="mb-sm clearfix">
                        <label class="col-md-2 control-label">Valor</label>
                        <div class="col-md-3">
                           <input type="text" ui-number-mask="2" ng-model="producto.model.valor" class="form-control input-sm text-align-right" />
                        </div>
                        <label class="col-md-2 control-label">Estado</label>
                        <div class="col-md-3">
                           <select ng-model="estados.current" ng-options="item.descripcion for item in estados.data" ng-selected="estados.current.value==producto.model.estado" class="form-control"></select>
                        </div>
                     </div>
                     <div class="mb-sm clearfix">
                        <label class="col-md-2 control-label">Usuario Reg</label>
                        <div class="col-md-3">
                           <input ng-model="producto.model.usuarioReg" ng-maxlength="80" ng-pattern="usuarioReg" disabled="disabled" class="form-control input-sm" />
                        </div>
                        <label class="col-md-2 control-label">Usuario Act</label>
                        <div class="col-md-3">
                           <input ng-model="producto.model.usuarioAct" ng-maxlength="80" ng-pattern="usuarioAct" disabled="disabled" class="form-control input-sm" />
                        </div>
                     </div>
                     <div class="mb-sm clearfix">
                        <label class="col-md-2 control-label">Fecha Reg</label>
                        <div class="col-md-3">
                           <div class="input-group">
                              <input type="text" uib-datepicker-popup="yyyy/MM/dd" ng-model="producto.fechaReg.value" is-open="producto.fechaReg.isOpen" datepicker-options="producto.fechaReg.dateOptions" readonly="true" show-button-bar="false" class="form-control input-sm"
                              />
                              <span class="input-group-btn">
                                 <button type="button" ng-click="producto.fechaReg.open($event)" class="btn btn-sm btn-default"><i class="fa fa-calendar"> </i>
                                 </button>
                              </span>
                           </div>
                        </div>
                        <label class="col-md-2 control-label">Fecha Act</label>
                        <div class="col-md-3">
                           <div class="input-group">
                              <input type="text" uib-datepicker-popup="yyyy/MM/dd" ng-model="producto.fechaAct.value" is-open="producto.fechaAct.isOpen" datepicker-options="producto.fechaAct.dateOptions" readonly="true" show-button-bar="false" class="form-control input-sm"
                              />
                              <span class="input-group-btn">
                                 <button type="button" ng-click="producto.fechaAct.open($event)" class="btn btn-sm btn-default"><i class="fa fa-calendar">  </i>
                                 </button>
                              </span>
                           </div>
                        </div>
                     </div>
                  </fieldset>
               </div>
            </form>
         </div>
      </div>
   </div>
</body>

</html>