<div class="modal-header p-sm pl-lg pr-lg">
   <header>
      <label class="col-md-7 control-label text-primary">Crear Tercero</label>
      <a type="button" ng-click="cliente.close()" class="pull-right">
         <span class="fa fa-times text-danger"></span>
      </a>
      <br/>
   </header>
</div>
<div class="modal-body clearfix">
   <div class="mb-sm clearfix">
      <label class="col-md-1 control-label">Identificación:</label>
   </div>
   <div class="mb-sm clearfix">
      <div class="col-md-12">
         <input ng-model="cliente.model.identificacion" ng-maxlength="80" class="form-control input-sm" />
      </div>
   </div>
   <div class="mb-sm clearfix">
      <label class="col-md-1 control-label">Nombre:</label>
   </div>
   <div class="mb-sm clearfix">
      <div class="col-md-12">
         <input ng-model="cliente.model.nombre" class="form-control input-sm" />
      </div>
   </div>
   <div class="mb-sm clearfix">
      <label class="col-md-1 control-label">Email:</label>
   </div>
   <div class="mb-sm clearfix">
      <div class="col-md-12">
         <input ng-model="cliente.model.email" class="form-control input-sm" />
      </div>
   </div>
   <div class="mb-sm clearfix">
      <label class="col-md-1 control-label">Dirección:</label>
   </div>
   <div class="mb-sm clearfix">
      <div class="col-md-12">
         <textarea ng-model="cliente.model.direccion" class="form-control"></textarea>
      </div>
   </div>
   <div class="mb-sm clearfix">
      <label class="col-md-1 control-label">Teléfono:</label>
   </div>
   <div class="mb-sm clearfix">
      <div class="col-md-12">
         <input ng-model="cliente.model.telefono" class="form-control input-sm" />
      </div>
   </div>
   <div class="mb-sm clearfix">
      <label class="col-md-1 control-label">Contacto:</label>
   </div>
   <div class="mb-sm clearfix">
      <div class="col-md-12">
         <input ng-model="cliente.model.nombreContacto" class="form-control input-sm" />
      </div>
   </div>
   <div class="mb-sm clearfix">
      <label class="col-md-1 control-label">Teléfono:</label>
   </div>
   <div class="mb-sm clearfix">
      <div class="col-md-12">
         <input ng-model="cliente.model.telefonoContacto" class="form-control input-sm" />
      </div>
   </div>
   <div class="mb-sm clearfix">
      <label class="col-md-3 control-label">Cargo :</label>
   </div>
   <div class="mb-sm clearfix">
      <div class="col-md-12">
         <input ng-model="cliente.model.cargoContacto" class="form-control input-sm" />
      </div>
   </div>
</div>
<div class="modal-footer">
   <button type="button" tooltip="Guardar" ng-click="cliente.save()" class="btn btn-primary">
      <span>GUARDAR</span>
   </button>
   <button type="button" tooltip="Cancelar" ng-click="cliente.close()" class="btn btn-default">
      <span>CANCELAR</span>
   </button>
</div>