.height-xxxs {
  height: 40px;
}
.height-xxs {
  height: 70px;
}
.height-xs {
  height: 100px;
}
.height-sm {
  height: 200px;
}
.height-md {
  height: 300px;
}
.height-lg {
  height: 400px;
}
.height-xl {
  height: 500px;
}
.height-xxl {
  height: 600px;
}
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.border-default {
  border: 1px solid #EEEEEE;
  border-radius: 5px;
}
input[type="file"].imageFile {
  display: none;
}
.custom-file-upload {
  padding: 0px 3px;
  display: inline-block;
  cursor: pointer;
  right: 0;
  bottom: -13px;
  position: absolute;
  border-radius: 500px;
}
.content-loading {
  z-index: 1000000;
  width: 100%;
  height: 100%;
  position: fixed;
  color: white;
  background-color: rgba(1, 69, 79, 0.8);
  -moz-user-select: none;
  -webkit-user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  display: -webkit-box;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.bg-login {
  background-image: url('../img/bg-login.png');
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  opacity: 0.7;
}
/*
.sidebar .nav > li.active {
    background-image: -webkit-linear-gradient(left, #f2862f 0%, #027181 100%);
}

.sidebar .nav > li.active > a {
  color : white !important;
}
*/
input[type="number"] {
  text-align: right;
}
.text-align-right {
  text-align: right !important;
}
