<h3>Calendario
   <small></small>
</h3>
<div class="row">
   <div class="panel">
      <div class="panel-heading">
         <div class="row">
            <div class="form-group m0 col-xs-12 col-sm-12">
               <div class="pull-left">
                  <button type="button" tooltip="{{ 'app.SEARCH' | translate }}" ng-click="cotizaciones.getData()" class="btn btn-sm btn-primary">
                     <span>
                        <em class="icon-reload"></em>
                     </span>
                     <span class="hidden-xs">{{ 'app.SEARCH' | translate }}</span>
                  </button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- START row-->
<div class="calendar-app">
   <div class="row">
      <div class="col-lg-12 col-md-12">
         <!-- START panel-->
         <div class="panel panel-default">
            <div class="panel-body">
               <!-- START calendar-->
               <div calendar=""></div>
               <!-- END calendar-->
            </div>
         </div>
         <!-- END panel-->
      </div>
   </div>
   <!-- END row-->
</div>