<div class="modal-header p-sm pl-lg pr-lg">
   <header>
      <label class="col-md-7 control-label text-primary">Contacto Tercero</label>
      <a type="button" ng-click="contactoTercero.close()" class="pull-right">
         <span class="fa fa-times text-danger"></span>
      </a>
      <br/>
   </header>
</div>
<div class="modal-body clearfix">
   <div class="mb-sm clearfix">
      <label class="col-md-1 control-label">Nombre:</label>
   </div>
   <div class="mb-sm clearfix">
      <div class="col-md-12">
         <input ng-model="contactoTercero.model.nombre" ng-maxlength="80" class="form-control input-sm" />
      </div>
   </div>
   <div class="mb-sm clearfix">
      <label class="col-md-1 control-label">Teléfono:</label>
   </div>
   <div class="mb-sm clearfix">
      <div class="col-md-12">
         <input ng-model="contactoTercero.model.telefono" class="form-control input-sm" />
      </div>
   </div>
   <div class="mb-sm clearfix">
      <label class="col-md-1 control-label">Extensión:</label>
   </div>
   <div class="mb-sm clearfix">
      <div class="col-md-12">
         <input ng-model="contactoTercero.model.ext" class="form-control input-sm" />
      </div>
   </div>
   <div class="mb-sm clearfix">
      <label class="col-md-1 control-label">Email:</label>
   </div>
   <div class="mb-sm clearfix">
      <div class="col-md-12">
         <input ng-model="contactoTercero.model.email" class="form-control input-sm" />
      </div>
   </div>
   <div class="mb-sm clearfix">
      <label class="col-md-1 control-label">Cargo:</label>
   </div>
   <div class="mb-sm clearfix">
      <div class="col-md-12">
         <input ng-model="contactoTercero.model.cargo" class="form-control input-sm" />
      </div>
   </div>
   <div class="mb-sm clearfix">
      <label class="col-md-3 control-label">Envio-Info:</label>
   </div>
   <div class="mb-sm clearfix">
      <div class="col-md-12">
         <select ng-model="envioInf.current" ng-options="item.descripcion for item in envioInf.data" ng-selected="envioInf.current.value==contactoTercero.model.envioInf" class="form-control"></select>
      </div>
   </div>
</div>
<div class="modal-footer">
   <button type="button" tooltip="Guardar" ng-click="contactoTercero.save()" class="btn btn-primary">
      <span>GUARDAR</span>
   </button>
   <button type="button" tooltip="Cancelar" ng-click="contactoTercero.close()" class="btn btn-default">
      <span>CANCELAR</span>
   </button>
</div>