h3 Contratos-Servicios
  small Control de los Contratos-Servicios
.row
  .panel
    .panel-heading
      .row
        .input-group.m0.col-xs-6.col-sm-3.pull-left
          span.input-group-addon.input-sm
            em.icon-magnifier
          input.form-control.input-sm(type='text' ng-change='contratos.filter()' ng-model='contratos.filterText' )
        .form-group.m0.col-xs-6.col-sm-9
          .pull-right
            button.btn.btn-sm.btn-primary(type='button', tooltip="{{ 'app.ADD' | translate }}", ng-click='contratos.add()')
              span: em.icon-plus
              span.hidden-xs {{ 'app.ADD' | translate }}
            
    .panel-body.p0
      .table-responsive.table-bordered
        table.table.table-hover.wd-wide
          thead
            tr              
              th CLIENTE  
              th CONSECUTIVO  
              th FECHA INICIO    
              th FECHA FIN    
              th ESTADO  
          tbody
            td.height-lg(colspan="6", ng-show="contratos.loading")
              p.text-center
                i.fa.fa-spinner.fa-spin.fa-2x.text-muted
              p.text-center.lead.text-primary {{ 'app.LOADING_TEXT' | translate }}
            td.height-lg(colspan="6", ng-show="contratos.noData")
              p.text-center.lead.text-primary {{ 'app.NO_DATA' | translate }}
            tr(ng-repeat="item in contratos.data | orderBy: 'nombre'", ng-class="{true: 'active'}[item.check]")              
              td {{ item.tercero }}
              td {{ item.consecutivo }}
              td {{ item.fechaInicial | date:'dd/M/yyyy' }}          
              td {{ item.fechaFinal | date:'dd/M/yyyy' }}              
              td   
               span.label.label-primary(ng-if="item.estado == ESTADO_EJECUCION") Ejecución
               span.label.label-default(ng-if="item.estado == ESTADO_ANULADO") Anulado
               span.label.label-warning(ng-if="item.estado == ESTADO_CERRADO") Cerrado
               span.label.label-warning(ng-if="item.estado == ESTADO_CANCELADO") Cancelado              
              td.wd-sm
                .ph.m0.text-muted.visible-inline.pull-right
                    em.icon-pencil.mr(tooltip="Editar", tooltip-placement='bottom', ng-click='contratos.edit(item)')                    
    .row
      .col-lg-12(ng-hide='contratos.paginations.numPages == 1')
          pagination.m.pagination-sm.pull-right(total-items='contratos.paginations.totalItems',ng-model='contratos.paginations.currentPage',max-size='contratos.paginations.maxSize',boundary-links='true',rotate='false',items-per-page='contratos.paginations.itemsPerPage', previous-text="‹", next-text="›", num-pages='contratos.paginations.numPages', ng-change='contratos.changePage()', first-text="«", last-text="»")