.bg-login
.block-center.mt-xl.wd-xl.pt-xl
  // START panel
  .panel.panel-dark.panel-flat
    .panel-heading.text-center
      a(href="#")
        img.block-center.img-rounded.height-xxs(src='app/img/logo.png', alt='Image')
    .panel-body
      p.text-center.pv Ingrese sus credenciales para continuar
      form.form-validate(role='form', ng-submit="login.login()", name='login.loginForm', novalidate='').mb-lg
        .form-group.has-feedback
          input#exampleInputEmail1.form-control(type='text', name="account_email" placeholder='Usuario', autocomplete="off", ng-model="login.account.user", required='')
          span.fa.fa-user.form-control-feedback.text-muted
          span.text-danger(ng-show="login.loginForm.account_email.$dirty && login.loginForm.account_email.$error.required") Usuario requerido
        .form-group.has-feedback
          input#exampleInputPassword1.form-control(type='password', name="account_password" placeholder='Contraseña', ng-model="login.account.password", required='')
          span.fa.fa-lock.form-control-feedback.text-muted
          span.text-danger(ng-show="login.loginForm.account_password.$dirty && login.loginForm.account_password.$error.required") Contraseña requerida
        .clearfix
          .pull-right
            a.text-muted(ui-sref="page.recover") Olvido su contraseña?
        
        button.btn.btn-block.btn-primary.mt-lg(type='submit') INGRESAR      
      .alert.alert-danger.text-center(ng-show='login.authMsg') {{login.authMsg}}
  // END panel
  .p-lg.text-center.text-primary
    span &copy; 
    span(ng-bind="app.year") 
    span  - 
    span(ng-bind="app.name")
    br
    span(ng-bind="app.description")
