.bg-login
.block-center.mt-xl.wd-xl
  // START panel
  .panel.panel-dark.panel-flat
    .panel-heading.text-center
      a(href="#")
        img.block-center.img-rounded.height-xxs(src='app/img/logo.png', alt='Image')
    .panel-body
      h6.text-center.pv.lead.text-primary Recuperar contraseña
      form.form-validate(role='form', name="recoverForm")
        p.text-center Enviaremos un correo electronico con información para continuar con el proceso.
        .form-group.has-feedback
          input.form-control(type='email', name='email', placeholder='Correo Electronico', autocomplete="off", ng-model="recover.model.email", required='')
          span.fa.fa-envelope.form-control-feedback.text-muted
          span.text-danger(ng-show="recoverForm.email.$dirty && recoverForm.email.$error.required") Campo requerido
          span.text-danger(ng-show="recoverForm.email.$dirty && recoverForm.email.$error.email") Debe ser un correo eléctronico
        button.btn.btn-primary.btn-block(type='button', ng-click="recover.resetPassword()") ENVIAR            
  // END panel
  .p-lg.text-center
    span &copy; 
    span(ng-bind="app.year") 
    span  - 
    span(ng-bind="app.name")
    br
    span(ng-bind="app.description")
