.bg-login
.block-center.mt-xl.wd-xl
  // START panel
  .panel.panel-dark.panel-flat
    .panel-heading.text-center
      a(href="#")
        img.block-center.img-rounded.height-xxs(src='app/img/logo.png', alt='Image')
    .panel-body
      h6.text-center.pv.lead.text-primary Asignar Contraseña
      form.form-validate(role='form', name="recoverForm")
        p.text-center Por favor confirme su nueva contraseña
        .form-group.has-feedback
          input.form-control(type='password', name='password', placeholder='Contraseña', autocomplete="off", ng-model="reset.model.password", required)
          span.fa.fa-envelope.form-control-feedback.text-muted
        .form-group.has-feedback
          input.form-control(type='password', name='repeat_password', placeholder='Repita La Contraseña', autocomplete="off", ng-model="reset.model.repeatPassword", required)
          span.fa.fa-envelope.form-control-feedback.text-muted
        button.btn.btn-primary.btn-block(type='button', ng-click="reset.resetPassword()") CAMBIAR            
  // END panel
  .p-lg.text-center
    span &copy; 
    span(ng-bind="app.year") 
    span  - 
    span(ng-bind="app.name")
    br
    span(ng-bind="app.description")
