<div class="modal-header p-sm pl-md pr-md">
   <header>
      <span class="text-light lead">CARGUE ARCHIVO
         <a type="button" ng-click="fileManager.close()" class="pull-right">
            <span class="fa fa-times text-danger"></span>
         </a>
      </span>
   </header>
</div>
<div class="modal-body clearfix">
   <div class="row">
      <div class="col-md-12">
         <form name="formAdjuntarArchivo">
            <div class="form-group m-sm">
               <div class="mb-sm clearfix">
                  <span class="col-md-2">Archivo</span>
                  <div class="col-md-10">
                     <input type="file" ngf-select="" ng-model="fileManager.model.file" name="file" required="required" class="form-control form-sm" />
                  </div>
               </div>
               <div class="mb-sm clearfix">
                  <button ng-disabled="!formAdjuntarArchivo.$valid" ng-click="fileManager.uploader(fileManager.model.file)" class="btn btn-primary">Cargar Archivo</button>
               </div>
            </div>
         </form>
      </div>
   </div>
   <div></div>
   <div></div>
   <div ng-show="motrarTabla" class="panel-body p0">
      <div class="table-responsive table-bordered">
         <table class="table table-hover wd-wide">
            <thead>
               <tr>
                  <th>DATOS</th>
                  <th>ERROR</th>
                  <th>HOJA</th>
                  <th>TABLA</th>
               </tr>
            </thead>
            <tbody>
               <td colspan="4" ng-show="dataPage.loading" class="height-lg">
                  <p class="text-center"><i class="fa fa-spinner fa-spin fa-2x text-muted"></i>
                  </p>
                  <p class="text-center lead text-primary">{{ 'app.LOADING_TEXT' | translate }}</p>
               </td>
               <td colspan="4" ng-show="dataPage.noData" class="height-lg">
                  <p class="text-center lead text-primary">{{ 'app.NO_DATA' | translate }}</p>
               </td>
               <tr ng-repeat="item in dataPage.data" ng-class="{true: 'active'}[item.check]">
                  <td>{{ item.Datos }}</td>
                  <td>{{ item.Error }}</td>
                  <td>{{ item.Hoja }}</td>
                  <td>{{ item.Tabla }}</td>
               </tr>
            </tbody>
         </table>
         <div class="row">
            <div ng-hide="dataPage.paginations.numPages == 1" class="col-lg-12">
               <pagination total-items="dataPage.paginations.totalItems" ng-model="dataPage.paginations.currentPage" max-size="dataPage.paginations.maxSize" boundary-links="true" rotate="false" items-per-page="dataPage.paginations.itemsPerPage" previous-text="‹"
               next-text="›" num-pages="dataPage.paginations.numPages" ng-change="dataPage.changePage()" first-text="«" last-text="»" class="m pagination-sm pull-right"></pagination>
            </div>
         </div>
      </div>
   </div>
</div>