html
  body
    h3
      a.text-primary(ng-click='funcionario.back()') Funcionario
      small Gestiona la información de los funcionarios
    .row
      .panel
        .panel-body
          form.form-horizontal.mb-lg(role='form')
            .form-group.m-sm
              fieldset.mb-sm.pb-sm
                .mb-lg.clearfix
                  button.btn.btn-sm.btn-primary(type='button', tooltip='Guardar', ng-click='funcionario.save()')
                    span GUARDAR
                  button.btn.btn-sm.btn-default(type='button', tooltip='Cancelar', ng-click='funcionario.back()')
                    span CANCELAR                
                .mb-sm.clearfix
                  label.col-md-2.control-label Documento
                  .col-md-3
                    input.form-control.input-sm(ng-model='funcionario.model.documento',ng-maxlength='80',ng-pattern='documento')
                  label.col-md-2.control-label Código
                  .col-md-3
                    input.form-control.input-sm(ng-model='funcionario.model.codigo', ng-maxlength='80', ng-pattern='codigo')
                .mb-sm.clearfix
                  label.col-md-2.control-label Nombre
                  .col-md-3
                    input.form-control.input-sm(ng-model='funcionario.model.nombre', ng-maxlength='80', ng-pattern='nombre')
                  label.col-md-2.control-label Email
                  .col-md-3
                    input.form-control.input-sm(ng-model='funcionario.model.email', ng-maxlength='80', ng-pattern='email')
                .mb-sm.clearfix
                  label.col-md-2.control-label Dirección
                  .col-md-3
                    input.form-control.input-sm(ng-model='funcionario.model.direccion', ng-maxlength='80', ng-pattern='direccion')
                  label.col-md-2.control-label Matricula
                  .col-md-3
                    input.form-control.input-sm(ng-model='funcionario.model.matricula', ng-maxlength='80', ng-pattern='matricula')
                .mb-sm.clearfix
                  label.col-md-2.control-label Teléfono
                  .col-md-3
                    input.form-control.input-sm(ng-model='funcionario.model.telefono', ng-maxlength='80', ng-pattern='direccion')
                  label.col-md-2.control-label Estado
                  .col-md-3
                    select.form-control(ng-model="estados.current", ng-options="item.descripcion for item in estados.data", ng-selected="estados.current.value==funcionario.model.estado")   
                .mb-sm.clearfix
                  label.col-md-2.control-label Fecha Ingreso
                  .col-md-3
                     .input-group
                        input.form-control.input-sm(type="text", uib-datepicker-popup="yyyy/MM/dd", ng-model="funcionario.fechaIngreso.value", is-open="funcionario.fechaIngreso.isOpen", datepicker-options="funcionario.fechaIngreso.dateOptions", readonly="false", show-button-bar="false")
                        span.input-group-btn
                         button.btn.btn-sm.btn-default(type='button', ng-click='funcionario.fechaIngreso.open($event)')
                          i.fa.fa-calendar 
                  label.col-md-2.control-label Tipo Autenticación
                  .col-md-3
                    select.form-control(ng-model="tipoAuth.current", ng-options="item.descripcion for item in tipoAuth.data", ng-selected="tipoAuth.current.value==funcionario.model.tipoAuth") 
                .mb-sm.clearfix
                  label.col-md-2.control-label Usuario
                  .col-md-3
                    input.form-control.input-sm(ng-model='funcionario.model.usuario', ng-maxlength='80', ng-pattern='usuario')
                  label.col-md-2.control-label Contraseña
                  .col-md-3
                    input.form-control.input-sm(ng-model='funcionario.model.contrasenia', ng-maxlength='80', ng-pattern='contrasenia')
                .mb-sm.clearfix
                  label.col-md-2.control-label Usuario Reg
                  .col-md-3
                    input.form-control.input-sm(ng-model='funcionario.model.usuarioReg', ng-maxlength='80', ng-pattern='usuarioReg',disabled)
                  label.col-md-2.control-label Usuario Act
                  .col-md-3
                    input.form-control.input-sm(ng-model='funcionario.model.usuarioAct', ng-maxlength='80', ng-pattern='usuarioAct',disabled)
                .mb-sm.clearfix
                  label.col-md-2.control-label Fecha Reg
                  .col-md-3
                    .input-group
                        input.form-control.input-sm(type="text", uib-datepicker-popup="yyyy/MM/dd", ng-model="funcionario.fechaReg.value", is-open="funcionario.fechaReg.isOpen", datepicker-options="funcionario.fechaReg.dateOptions", readonly="true", show-button-bar="false")
                        span.input-group-btn
                         button.btn.btn-sm.btn-default(type='button', ng-click='funcionario.fechaReg.open($event)')
                          i.fa.fa-calendar 
                  label.col-md-2.control-label Fecha Act
                  .col-md-3
                    .input-group
                        input.form-control.input-sm(type="text", uib-datepicker-popup="yyyy/MM/dd", ng-model="funcionario.fechaAct.value", is-open="funcionario.fechaAct.isOpen", datepicker-options="funcionario.fechaAct.dateOptions", readonly="true", show-button-bar="false")
                        span.input-group-btn
                         button.btn.btn-sm.btn-default(type='button', ng-click='funcionario.fechaAct.open($event)')
                          i.fa.fa-calendar 
                        div.mb-sm.clearfix            
            
            mb-sm.clearfix
                .table-responsive.table-bordered
                      table.table.table-hover.wd-wide
                        thead
                          tr
                            td
                              .col-md-5 PERFIL
                            td
                              .col-md-5 ACTIVO
                        tbody
                          tr(ng-repeat="obj in funcionario.model.roles")
                            td {{obj.nombre}}
                            td
                              .checkbox.c-checkbox.m0
                                label
                                  input(type='checkbox', ng-model='obj.selected', ng-true-value="1", ng-false-value="0", ng-click="")
                                  span.fa.fa-check


