h3 Reportes
  small reportes por modulo
  
.row.col-xs-11
  .panel
    .panel-body.p0
      .mb-sm.clearfix
      .mb-sm.clearfix
        label.col-md-2.control-label Modulo:
        .col-md-5
          select.form-control(ng-model='modulo.current', ng-options='item.descripcion for item in modulo.data', ng-change="modulo.getData()")
.row
  .panel
    .panel-heading
      .row
        .input-group.m0.col-xs-6.col-sm-3.pull-left
          span.input-group-addon.input-sm
            em.icon-magnifier
          input.form-control.input-sm(type='text' ng-change='reportes.filter()' ng-model='reportes.filterText' )
        
    .panel-body.p0
      .table-responsive.table-bordered
        table.table.table-hover.wd-wide
          thead
            tr              
              th NOMBRE  
          tbody
            td.height-lg(colspan="5", ng-show="reportes.loading")
              p.text-center
                i.fa.fa-spinner.fa-spin.fa-2x.text-muted
              p.text-center.lead.text-primary {{ 'app.LOADING_TEXT' | translate }}
            td.height-lg(colspan="5", ng-show="reportes.noData")
              p.text-center.lead.text-primary {{ 'app.NO_DATA' | translate }}
            tr(ng-repeat="item in reportes.data", ng-class="{true: 'active'}[item.check]")
              
              td {{ item.nombre }}
                       
              td.wd-sm
                .ph.m0.text-muted.visible-inline.pull-right
                    em.icon-control-play.mr(tooltip="...", tooltip-placement='bottom', ng-click='reportes.edit(item)')
                   
    .row
      .col-lg-12(ng-hide='reportes.paginations.numPages == 1')
          pagination.m.pagination-sm.pull-right(total-items='reportes.paginations.totalItems',ng-model='reportes.paginations.currentPage',max-size='reportes.paginations.maxSize',boundary-links='true',rotate='false',items-per-page='reportes.paginations.itemsPerPage', previous-text="‹", next-text="›", num-pages='reportes.paginations.numPages', ng-change='reportes.changePage()', first-text="«", last-text="»")