<h3> <a ng-click="campo.back()" class="text-primary">Campo</a>
   <small>Control de Campos</small>
</h3>
<div class="row">
   <div class="panel">
      <div class="panel-body">
         <form role="form" class="form-horizontal mb-lg">
            <div class="form-group m-sm">
               <fieldset class="mb-sm pb-sm">
                  <div class="mb-lg clearfix">
                     <button type="button" tooltip="Guardar" ng-click="campo.save()" class="btn btn-sm btn-primary">
                        <span>GUARDAR</span>
                     </button>
                     <button type="button" tooltip="Cancelar" ng-click="campo.back()" class="btn btn-sm btn-default">
                        <span>CANCELAR</span>
                     </button>
                  </div>
                  <div class="mb-sm clearfix">
                     <label class="col-md-2 control-label">Código</label>
                     <div class="col-md-2">
                        <input ng-model="campo.model.campoId" disabled="disabled" class="form-control input-sm" />
                     </div>
                     <label class="col-md-3 control-label">Fecha Inicio</label>
                     <div class="col-md-3">
                        <div class="input-group">
                           <input type="text" uib-datepicker-popup="yyyy/MM/dd" ng-model="campo.fechaInicio.value" is-open="campo.fechaInicio.isOpen" datepicker-options="campo.fechaInicio.dateOptions" readonly="false" show-button-bar="false" class="form-control input-sm"
                           />
                           <span class="input-group-btn">
                              <button type="button" ng-click="campo.fechaInicio.open($event)" class="btn btn-sm btn-default"><i class="fa fa-calendar"></i>
                              </button>
                           </span>
                        </div>
                     </div>
                  </div>
                  <div class="mb-sm clearfix">
                     <label class="col-md-2 control-label">Nombre</label>
                     <div class="col-md-3">
                        <input ng-model="campo.model.nombreCampo" ng-maxlength="80" ng-pattern="nombre" class="form-control input-sm" />
                     </div>
                     <label class="col-md-2 control-label">Ley Base Liq</label>
                     <div class="col-md-3">
                        <select ng-model="ley.current" ng-options="leyes.nombre for leyes in ley.dataConstitucion" ng-selected="ley.current==leyes" class="form-control"></select>
                     </div>
                  </div>
                  <div class="mb-sm clearfix">
                     <label class="col-md-2 control-label">Tipo de Ubicación</label>
                     <div class="col-md-3">
                        <select ng-model="tipos.current" ng-options="tipo.descripcion for tipo in tipos.data" ng-selected="tipos.current.valor==campo.model.tipoId" ng-change="tipos.setTipo()" class="form-control"></select>
                     </div>
                     <label class="col-md-2 control-label">Área / Cuenca</label>
                     <div class="col-md-3">
                        <select ng-model="area.current" ng-options="areas.Descripcion for areas in area.data" ng-selected="area.current==areas" class="form-control"></select>
                     </div>
                  </div>
                  <div class="mb-sm clearfix">
                     <label class="col-md-2 control-label">Agente</label>
                     <div class="col-md-3">
                        <select ng-model="agentes.current" ng-options="agente.nombre for agente in agentes.data" ng-selected="agentes.current.agenteId==agente.id" ng-change="agentes.setAgentes()" class="form-control"></select>
                     </div>
                     <label class="col-md-2 control-label">Área m2</label>
                     <div class="col-md-2">
                        <div class="input-group">
                           <input type="number" min="0" ng-model="campo.model.area" class="form-control" />
                        </div>
                     </div>
                  </div>
                  <div class="mb-sm clearfix">
                     <label class="col-md-2 control-label">Supervisor</label>
                     <div class="col-md-3">
                        <select ng-model="supervisores.current" ng-options="supervisor.nombre for supervisor in supervisores.data" ng-change="supervisores.setSupervisor()" ng-selected="supervisor==supervisores.current" class="form-control"></select>
                     </div>
                     <label class="col-md-2 control-label">Estado</label>
                     <div class="col-md-2">
                        <select ng-model="estados.current" ng-options="item.descripcion for item in estados.data" ng-selected="estados.current.value==campo.model.activo" class="form-control"></select>
                     </div>
                  </div>
               </fieldset>
            </div>
         </form>
         <div ng-show="showTabs(showTab)" ng-init="tHidrocarburo='O'; tProduccion='B'" class="form-group col-sm-10">
            <fieldset class="mb-sm pb-sm">
               <div class="mb-sm clearfix">
                  <tabset justified="true" class="bg-white p0">
                     <tab ng-init="showFormacion = false">
                        <tab-heading>Formaciones</tab-heading>
                        <div class="col-md-3">
                           <button type="button" tooltip="Agregar Formación" ng-click="showFormacion = true" class="btn btn-sm btn-primary">
                              <span>
                                 <em class="icon-plus"></em>
                              </span>
                              <span class="ng-binding">Agregar Formación</span>
                           </button>
                        </div>
                        <br/>
                        <div ng-show="showFormacion" class="mb-sm clearfix">
                           <label class="col-md-2 control-label">Formación:</label>
                           <div class="col-md-3">
                              <select ng-model="forma" class="form-control">
                                 <option ng-repeat="newFormacion in listFormaciones.data | orderBy: 'Descripcion'" value="{{newFormacion.Id}}">{{newFormacion.Descripcion}}</option>
                              </select>
                           </div>
                           <div class="col-md-3">
                              <button type="button" tooltip="Aceptar" ng-click="formaciones.save(forma); showFormacion=!showFormacion" class="btn btn-sm btn-primary"><i class="fa fa-check-circle-o"></i>
                                 <span>Aceptar</span>
                              </button>
                              <button type="button" tooltip="Cancelar" ng-click="showFormacion = false" class="btn btn-sm btn-primary"><i class="fa fa-ban"></i>
                                 <span>Cancelar</span>
                              </button>
                           </div>
                        </div>
                        <br/>
                        <div class="row">
                           <div class="form-group col-sm-12">
                              <div class="table-responsive table-bordered">
                                 <table class="table table-hover wd-wide">
                                    <thead>
                                       <tr>
                                          <th></th>
                                          <th>FORMACIÓN</th>
                                          <th>MUNICIPIOS</th>
                                          <th>ÁREA %</th>
                                          <th>ACCIONES</th>
                                       </tr>
                                    </thead>
                                    <tbody ng-repeat="formacion in formaciones.data">
                                       <tr>
                                          <td ng-init="showMunicipios = false">
                                             <em ng-class="{'fa-plus-circle' : showMunicipios == false, 'fa-minus-circle': showMunicipios == true}" ng-click="showMunicipios = !showMunicipios" class="fa text-primary"></em>
                                          </td>
                                          <td>
                                             <span ng-click="showMunicipios = !showMunicipios" class="lead ml-lg text-sm text-primary">{{formacion.nombreFormacion}}</span>
                                          </td>
                                          <td></td>
                                          <td ng-if="parcialArea(formacion.formacionId) != 100">
                                             <label class="text-danger">Total: {{ parcialArea(formacion.formacionId) }} %</label>
                                          </td>
                                          <td ng-if="parcialArea(formacion.formacionId) == 100">
                                             <label class="text-success">Total: {{ parcialArea(formacion.formacionId) }} %</label>
                                          </td>
                                          <td>
                                             <em tooltip="Agregar Municipio" tooltip-placement="bottom" ng-click="showNewMunicipios = true; showMunicipios = true" class="icon-plus mr text-primary"></em>
                                             <em tooltip="Eliminar Formación" tooltip-placement="bottom" ng-click="editnum = false; formaciones.removeFormacion(formacion.campoFormacionId)" class="icon-trash mr text-danger"></em>
                                          </td>
                                       </tr>
                                       <tr ng-init="showNewMunicipios = false" ng-show="showNewMunicipios">
                                          <td></td>
                                          <td></td>
                                          <td>
                                             <ui-select ng-model="municipios.current" theme="bootstrap">
                                                <ui-select-match placeholder="Seleccione un Municipio">{{$select.selected.nombreMunicipio}}</ui-select-match>
                                                <ui-select-choices repeat="m in municipios.data | propsFilter: {nombreDepartamento: $select.search, nombreMunicipio: $select.search} | orderBy: ['nombreDepartamento', 'nombreMunicipio']">
                                                   <div ng-bind-html="m.nombreMunicipio | highlight: $select.search"></div>
                                                   <small>{{m.nombreDepartamento}}</small>
                                                </ui-select-choices>
                                             </ui-select>
                                          </td>
                                          <td>
                                             <input ng-init="porcent=(setporcentaje(formacion.formacionId))" type="number" min="0" max="100" ng-model="porcent" class="form-control input-sm" />
                                          </td>
                                          <td>
                                             <em tooltip="Cancelar" tooltip-placement="bottom" ng-click="showNewMunicipios = false; porcent=(setporcentaje(formacion.formacionId))" class="fa fa-close"></em>
                                             <em tooltip="Guardar Formación" tooltip-placement="bottom" ng-click="formaciones.saveFormacionMunicipio(formacion.campoFormacionId, porcent); porcent=(setporcentaje(formacion.formacionId))" class="fa fa-floppy-o"></em>
                                          </td>
                                       </tr>
                                       <tr ng-show="showMunicipios" ng-repeat="municip in formacion.municipios">
                                          <td></td>
                                          <td></td>
                                          <td>{{municip.nombreDpto}} / {{municip.nombre}}</td>
                                          <td ng-init="editnum = true; valParcialPorcentaje=municip.porcentajeArea">
                                             <input ng-model="municip.porcentajeArea" type="number" max="100" ng-disabled="editnum" class="form-control input-sm" />
                                          </td>
                                          <td ng-init="botSave=false">
                                             <em ng-show="!botSave" tooltip="Editar Municipio" tooltip-placement="bottom" ng-click="editnum = false; botSave=true; porcent=(setporcentaje(formacion.formacionId))" class="icon-pencil mr"></em>
                                             <em ng-show="botSave" tooltip="Guardar Municipio" tooltip-placement="bottom" ng-click="editnum = true; botSave=!botSave; formaciones.updateMunicipio(formacion.campoFormacionId, municip.municipioId, municip.porcentajeArea); porcent=(setporcentaje(formacion.formacionId))"
                                             class="fa fa-floppy-o"></em>
                                             <em ng-show="botSave" tooltip="Cancelar" tooltip-placement="bottom" ng-click="editnum = false; botSave=!botSave; porcent=(setporcentaje(formacion.formacionId)); municip.porcentajeArea=valParcialPorcentaje"
                                             class="fa fa-close"></em>
                                             <em ng-show="!botSave" tooltip="Eliminar Municipio" tooltip-placement="bottom" ng-click="editnum = true; formaciones.removeMunicipio(formacion.campoFormacionId, municip.municipioId)" class="icon-trash mr text-danger"></em>
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                           </div>
                        </div>
                     </tab>
                     <tab ng-click="contratos.getData(); contratos.getDetalle(); nameContrato.getData()">
                        <tab-heading ng-init="defineContrato=false">Contrato</tab-heading>
                        <div class="mb-sm clearfix">
                           <br/>
                           <label class="col-md-2 control-label">Contrato</label>
                           <div class="col-md-3">
                              <select ng-model="nameContrato.current" ng-selected="nameContrato.current==contrato" ng-options="contrato.nombreContrato for contrato in nameContrato.data" ng-change="contratos.getData()" class="form-control"></select>
                           </div>
                           <div class="col-md-2">
                              <button type="button" tooltip="Nuevo Contrato" ng-click="defineContrato=!defineContrato" class="btn btn-sm btn-primary">
                                 <span>
                                    <em class="icon-plus"></em>
                                 </span>
                                 <span>Nuevo Contrato</span>
                              </button>
                           </div>
                           <div class="col-md-2">
                              <button type="button" tooltip="Eliminar Contrato" ng-click="contratos.delete()" class="btn btn-sm btn-danger">
                                 <span>
                                    <em class="icon-trash"></em>
                                 </span>
                                 <span>Eliminar Contrato</span>
                              </button>
                           </div>
                        </div>
                        <div class="mb-sm clearfix">
                           <label class="col-md-2 control-label">Tipo Hidr.</label>
                           <div class="col-md-3">
                              <select ng-model="tHidrocarburo" ng-change="contratos.getHidrocarburo(tHidrocarburo)" class="form-control">
                                 <option value="O" selected="selected">Crudo</option>
                                 <option value="G">Gas</option>
                              </select>
                           </div>
                           <div class="col-md-5">
                              <select ng-show="defineContrato" ng-model="listContratos.current" ng-options="listaContrato.nomContrato for listaContrato in listContratos.data" class="form-control"></select>
                           </div>
                           <div class="col-md-2">
                              <button ng-show="defineContrato" type="button" ng-click="contratos.new(); defineContrato=!defineContrato" class="btn btn-sm btn-primary">
                                 <span>Guardar</span>
                              </button>
                           </div>
                        </div>
                        <div class="mb-sm clearfix">
                           <label class="col-md-2 control-label">Tipo Prod.</label>
                           <div class="col-md-3">
                              <select ng-model="tProduccion" ng-change="contratos.getProduccion(tProduccion)" class="form-control">
                                 <option value="B" selected="selected">Básica</option>
                                 <option value="I">Incremental</option>
                              </select>
                           </div>
                        </div>
                        <div class="row">
                           <div class="form-group col-sm-12">
                              <div class="table-responsive table-bordered">
                                 <table class="table table-hover wd-wide">
                                    <thead>
                                       <tr>
                                          <td>
                                             <div class="col-md-5">FORMACION</div>
                                          </td>
                                          <td>
                                             <div class="col-md-5">LEY % REGALIA</div>
                                          </td>
                                          <td>
                                             <div class="col-md-5">ACTIVO</div>
                                          </td>
                                          <td>
                                             <button type="button" ng-click="contratos.updateAll()" class="btn btn-sm btn-default">
                                                <span>
                                                   <em class="fa fa-floppy-o"></em>
                                                </span>
                                                <span>Guardar Todo</span>
                                             </button>
                                          </td>
                                       </tr>
                                    </thead>
                                    <tbody>
                                       <tr ng-show="contratos.activo" ng-repeat="formacionContrato in contratos.data | filter : {tipoHdrc: hidro, tipoProd: tprod}">
                                          <td>{{formacionContrato.nombreFormacion}}</td>
                                          <td>
                                             <select ng-model="formacionContrato.leyRegaliasId" class="form-control">
                                                <option ng-repeat="leyes in ley.dataRegalias" value="{{leyes.leyId}}" ng-selected="leyes.leyId==formacionContrato.leyRegaliasId">{{leyes.nombre}}</option>
                                             </select>
                                          </td>
                                          <td>
                                             <div class="checkbox c-checkbox m0">
                                                <label>
                                                   <input type="checkbox" ng-model="formacionContrato.activo" ng-true-value="1" ng-false-value="0" ng-click="" />
                                                   <span class="fa fa-check"></span>
                                                </label>
                                             </div>
                                          </td>
                                          <td>
                                             <em tooltip="Guardar" tooltip-placement="bottom" ng-click="contratos.update(formacionContrato)" class="fa fa-floppy-o"></em>
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                           </div>
                        </div>
                     </tab>
                     <tab>
                        <tab-heading>Reversión</tab-heading>
                        <div class="row">
                           <div class="mb-sm clearfix">
                              <div class="form-group col-sm-12">
                                 <div class="mb-lg clearfix">
                                    <button type="button" ng-click="campo.save()" class="btn btn-sm btn-primary pull-left">
                                       <span>GUARDAR</span>
                                    </button>
                                 </div>
                              </div>
                              <div class="form-group col-sm-12">
                                 <div class="checkbox c-checkbox m0">
                                    <label class="col-md-5 control-label">
                                       <input type="checkbox" ng-model="campo.model.revierteRegalias" ng-true-value="true" ng-false-value="false" />
                                       <span class="fa fa-check"></span>Revierte Regalias Art. 39 Ley 756</label>
                                 </div>
                              </div>
                           </div>
                           <br/>
                           <div class="mb-sm clearfix">
                              <label class="col-md-3 control-label">Fecha Inicio Reversión:</label>
                              <div class="col-md-3">
                                 <div class="input-group">
                                    <input type="text" uib-datepicker-popup="yyyy/MM/dd" ng-model="campo.fechaIniRev.value" is-open="campo.fechaIniRev.isOpen" datepicker-options="campo.fechaIniRev.dateOptions" readonly="false" show-button-bar="false" class="form-control input-sm"
                                    />
                                    <span class="input-group-btn">
                                       <button type="button" ng-click="campo.fechaIniRev.open($event)" class="btn btn-sm btn-default"><i class="fa fa-calendar"></i>
                                       </button>
                                    </span>
                                 </div>
                              </div>
                           </div>
                           <div class="mb-sm clearfix">
                              <label class="col-md-3 control-label">Fecha Fin Reversión:</label>
                              <div class="col-md-3">
                                 <div class="input-group">
                                    <input type="text" uib-datepicker-popup="yyyy/MM/dd" ng-model="campo.fechaFinRev.value" is-open="campo.fechaFinRev.isOpen" datepicker-options="campo.fechaFinRev.dateOptions" readonly="false" show-button-bar="false" class="form-control input-sm"
                                    />
                                    <span class="input-group-btn">
                                       <button type="button" ng-click="campo.fechaFinRev.open($event)" class="btn btn-sm btn-default"><i class="fa fa-calendar"></i>
                                       </button>
                                    </span>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </tab>
                  </tabset>
               </div>
            </fieldset>
         </div>
      </div>
   </div>
</div>
<br/>
<br/>