<div class="modal-header p-sm pl-lg pr-lg">
   <header>
      <label class="col-md-7 control-label text-primary">Detalle del Catálogo</label>
      <a type="button" ng-click="catalogo.dismiss()" class="pull-right">
         <span class="fa fa-times text-danger"></span>
      </a>
      <br/>
   </header>
</div>
<div class="modal-body clearfix">
   <div class="mb-sm clearfix">
      <label class="col-md-1 control-label">Código:</label>
   </div>
   <div class="mb-sm clearfix">
      <div class="col-md-9">
         <input ng-model="catalogo.model.codigo" ng-pattern="codigo" class="form-control input-sm" />
      </div>
   </div>
   <div class="mb-sm clearfix">
      <label class="col-md-1 control-label">Descripción:</label>
   </div>
   <div class="mb-sm clearfix">
      <div class="col-md-9">
         <input ng-model="catalogo.model.descripcion" ng-pattern="descripcion" class="form-control input-sm" />
      </div>
   </div>
   <div class="mb-sm clearfix">
      <label class="col-md-1 control-label">Abreviatura:</label>
   </div>
   <div class="mb-sm clearfix">
      <div class="col-md-9">
         <input ng-model="catalogo.model.abreviatura" ng-pattern="abreviatura" class="form-control input-sm" />
      </div>
   </div>
   <div class="mb-sm clearfix">
      <label class="col-md-1 control-label">Estado:</label>
   </div>
   <div class="mb-sm clearfix">
      <div class="col-md-9">
         <select ng-model="estados.current" ng-options="item.estado for item in estados.data" class="form-control"></select>
      </div>
   </div>
</div>
<div class="modal-footer">
   <button type="button" tooltip="Guardar" ng-click="catalogo.save()" class="btn btn-primary">
      <span>GUARDAR</span>
   </button>
   <button type="button" tooltip="Cancelar" ng-click="catalogo.dismiss()" class="btn btn-default">
      <span>CANCELAR</span>
   </button>
</div>