<h3>Listado de Agendas
   <small></small>
</h3>
<div class="row">
   <div class="panel">
      <div class="panel-heading">
         <div class="row">
            <div class="input-group m0 col-xs-3 col-sm-3 pull-left">
               <select ng-model="filtrotarea.current" ng-options="item.descripcion for item in filtrotarea.data" ng-change="tareas.getData()" class="form-control"></select>
            </div>
            <div class="form-group m0 col-xs-6 col-sm-9">
               <div class="pull-right">
                  <button type="button" tooltip="{{ 'app.SEARCH' | translate }}" ng-click="tareas.getData()" class="btn btn-sm btn-primary">
                     <span>
                        <em class="icon-note"></em>
                     </span>
                     <span class="hidden-xs">Filtrar</span>
                  </button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="row">
   <div class="panel">
      <div class="panel-heading">
         <div class="row">
            <div class="input-group m0 col-xs-6 col-sm-3 pull-left">
               <span class="input-group-addon input-sm">
                  <em class="icon-magnifier"></em>
               </span>
               <input type="text" ng-change="tareas.filter()" ng-model="tareas.filterText" class="form-control input-sm" />
            </div>
         </div>
      </div>
      <div class="panel-body p0">
         <div class="table-responsive table-bordered">
            <table class="table table-hover wd-wide">
               <thead>
                  <tr>
                     <th>ESTADO</th>
                     <th>ASUNTO</th>
                     <th>FECHA INICIO</th>
                     <th>FECHA FIN</th>
                     <th></th>
                  </tr>
               </thead>
               <tbody>
                  <td colspan="8" ng-show="tareas.loading" class="height-lg">
                     <p class="text-center"><i class="fa fa-spinner fa-spin fa-2x text-muted"></i>
                     </p>
                     <p class="text-center lead text-primary">{{ 'app.LOADING_TEXT' | translate }}</p>
                  </td>
                  <td colspan="8" ng-show="tareas.noData" class="height-lg">
                     <p class="text-center lead text-primary">{{ 'app.NO_DATA' | translate }}</p>
                  </td>
                  <tr ng-repeat="item in tareas.data" ng-class="{true: 'active'}[item.check]">
                     <td>
                        <span ng-if="item.colorAlerta == 0" class="label label-success">En Proceso</span>
                        <span ng-if="item.colorAlerta == 1" class="label label-warning">En Alerta</span>
                        <span ng-if="item.colorAlerta == 2" class="label label-danger">Vencido</span>
                     </td>
                     <td>{{ item.asunto }}</td>
                     <td>{{ item.fechainicio | date:'dd/M/yyyy hh:mm:ss' }}</td>
                     <td>{{ item.fechafin | date:'dd/M/yyyy hh:mm:ss' }}</td>
                     <td class="wd-sm">
                        <div class="ph m0 text-muted visible-inline pull-right">
                           <em tooltip="..." tooltip-placement="bottom" ng-click="tareas.edit(item)" class="icon-pencil mr"></em>
                        </div>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
      <div class="row">
         <div ng-hide="tareas.paginations.numPages == 1" class="col-lg-12">
            <pagination total-items="tareas.paginations.totalItems" ng-model="tareas.paginations.currentPage" max-size="tareas.paginations.maxSize" boundary-links="true" rotate="false" items-per-page="tareas.paginations.itemsPerPage" previous-text="‹" next-text="›"
            num-pages="tareas.paginations.numPages" ng-change="tareas.changePage()" first-text="«" last-text="»" class="m pagination-sm pull-right"></pagination>
         </div>
      </div>
   </div>
</div>