html
  body
    h3
      a.text-primary(ng-click='consecutivo.back()') Consecutivo
      small Gestiona de los consecutivos
    .row
      .panel
        .panel-body
          form.form-horizontal.mb-lg(role='form')
            .form-group.m-sm
              fieldset.mb-sm.pb-sm
                .mb-lg.clearfix
                  button.btn.btn-sm.btn-primary(type='button', tooltip='Guardar', ng-click='consecutivo.save()')
                    span GUARDAR                         
                  button.btn.btn-sm.btn-default(type='button',  tooltip='Adjuntos', ng-click='consecutivo.uploadFile()',ng-show="btnAdjunto")
                    span ADJUNTOS
                  button.btn.btn-sm.btn-default(type='button',  tooltip='Agendas', ng-click='consecutivo.agenda()',ng-show="btnAdjunto")
                    span AGENDAS                
                  button.btn.btn-sm.btn-default(type='button',  tooltip='Seguimiento', ng-click='consecutivo.seguimiento()',ng-show="btnAdjunto")
                    span ...                  
                .mb-sm.clearfix
                  label.col-md-2.control-label Consecutivo
                  .col-md-5
                    input.form-control.input-sm(ng-model='consecutivo.model.codigo',ng-maxlength='100',ng-pattern='codigo',ng-disabled='true')              
                .mb-sm.clearfix
                  label.col-md-2.control-label Cliente
                  .col-md-6
                     ui-select(ng-model='tercerosOp.current', theme='bootstrap',on-select='tercerosOp.setContactoTercero()')
                      ui-select-match(placeholder='Seleccione Cliente') {{$select.selected.tercero}}
                      ui-select-choices(repeat="m in tercerosOp.data | propsFilter: {tercero: $select.search, identificacion: $select.search} | orderBy: ['tercero', 'identificacion']")
                        div(ng-bind-html='m.tercero | highlight: $select.search')                        
                        small {{m.identificacion}}                         
                   .col-md-1
                      button.btn.btn-sm.btn-primary(type='button',  tooltip='Agregar Cliente', ng-click='consecutivo.crearCliente()')
                        span AGREGAR
                .mb-sm.clearfix
                   label.col-md-2.control-label Contacto
                   .col-md-6
                     ui-select(ng-model='contactosOp.current', theme='bootstrap',on-select='contactosOp.setContacto()')
                      ui-select-match(placeholder='Seleccione Contacto') {{$select.selected.nombre}}
                      ui-select-choices(repeat="m in contactosOp.data | propsFilter: {nombre: $select.search, identificacion: $select.search} | orderBy: ['nombre', 'cargo']")
                        div(ng-bind-html='m.nombre | highlight: $select.search')                        
                        small  Cargo:{{m.cargo}} | Email:{{m.email}} | Télefono:{{m.telefono}}                         
                .mb-sm.clearfix  
                   label.col-md-2.control-label Funcionario
                   .col-md-6
                        ui-select(ng-model='funcionarios.current', theme='bootstrap')
                          ui-select-match(placeholder='Seleccione ') {{$select.selected.funcionario}}
                          ui-select-choices(repeat="m in funcionarios.data | propsFilter: {funcionario: $select.search, identificacion: $select.search} | orderBy: ['funcionario', 'identificacion']")
                            div(ng-bind-html='m.funcionario | highlight: $select.search')
                            small {{m.identificacion}}                         
                .mb-sm.clearfix 
                 label.col-md-2.control-label Descripción
                 .col-md-6
                    textarea.form-control( ng-model="consecutivo.model.descripcion")                    
                .mb-sm.clearfix                
                  label.col-md-2.control-label Estado
                  .col-md-3
                    select.form-control(ng-model="estados.current", ng-options="item.descripcion for item in estados.data", ng-selected="estados.current.value==consecutivo.model.estado") 
                .mb-sm.clearfix
                  label.col-md-2.control-label Usuario Reg
                  .col-md-3
                    input.form-control.input-sm(ng-model='consecutivo.model.usuarioReg', ng-maxlength='80', ng-pattern='usuarioReg',disabled)
                  label.col-md-2.control-label Usuario Act
                  .col-md-3
                    input.form-control.input-sm(ng-model='consecutivo.model.usuarioAct', ng-maxlength='80', ng-pattern='usuarioAct',disabled)
                .mb-sm.clearfix
                  label.col-md-2.control-label Fecha Reg
                  .col-md-3
                    .input-group
                        input.form-control.input-sm(type="text", uib-datepicker-popup="yyyy/MM/dd", ng-model="consecutivo.fechaReg.value", is-open="consecutivo.fechaReg.isOpen", datepicker-options="consecutivo.fechaReg.dateOptions", readonly="true", show-button-bar="false")
                        span.input-group-btn
                         button.btn.btn-sm.btn-default(type='button', ng-click='consecutivo.fechaReg.open($event)')
                          i.fa.fa-calendar 
                  label.col-md-2.control-label Fecha Act
                  .col-md-3
                    .input-group
                        input.form-control.input-sm(type="text", uib-datepicker-popup="yyyy/MM/dd", ng-model="consecutivo.fechaAct.value", is-open="consecutivo.fechaAct.isOpen", datepicker-options="consecutivo.fechaAct.dateOptions", readonly="true", show-button-bar="false")
                        span.input-group-btn
                         button.btn.btn-sm.btn-default(type='button', ng-click='consecutivo.fechaAct.open($event)')
                          i.fa.fa-calendar 
