h3 Mensajerias
  small Control de Mensajeria
  
.row.col-xs-11
  .panel
    .panel-body.p0
      .mb-sm.clearfix
.row
  .panel
    .panel-heading
      .row
        .input-group.m0.col-xs-6.col-sm-3.pull-left
          span.input-group-addon.input-sm
            em.icon-magnifier
          input.form-control.input-sm(type='text' ng-change='mensajerias.filter()' ng-model='mensajerias.filterText' )
        .form-group.m0.col-xs-6.col-sm-9
          .pull-right
            button.btn.btn-sm.btn-primary(type='button', tooltip="{{ 'app.ADD' | translate }}", ng-click='mensajerias.add()')
              span: em.icon-plus
              span.hidden-xs {{ 'app.ADD' | translate }}
            button.btn.btn-sm.btn-default(type='button', tooltip="{{ 'app.SELECT' | translate }}", ng-click='mensajerias.selectAll()')
              span: em.text-primary.icon-check
              span.hidden-xs {{ 'app.SELECT' | translate }}
            button.btn.btn-sm.btn-default(type='button', tooltip="{{ 'app.DELETE' | translate }}", ng-click='mensajerias.remove()')
              span: em.text-danger.icon-trash
              span.hidden-xs  {{ 'app.DELETE' | translate }}
    .panel-body.p0
      .table-responsive.table-bordered
        table.table.table-hover.wd-wide
          thead
            tr
              
              th CONSECUTIVO  
              th FECHA  
              th CLIENTE  
              th FECHA RECIBO
              th TIPO   
              th ESTADO 
              th JORNADA 
              th 
          tbody
            td.height-lg(colspan="8", ng-show="mensajerias.loading")
              p.text-center
                i.fa.fa-spinner.fa-spin.fa-2x.text-muted
              p.text-center.lead.text-primary {{ 'app.LOADING_TEXT' | translate }}
            td.height-lg(colspan="8", ng-show="mensajerias.noData")
              p.text-center.lead.text-primary {{ 'app.NO_DATA' | translate }}
            tr(ng-repeat="item in mensajerias.data ", ng-class="{true: 'active'}[item.check]")
            
              td {{ item.consecutivo }}
              td {{ item.fechaReg | date:'dd/M/yyyy hh:mm:ss' }}
              td {{ item.tercero }}              
              td {{ item.fechaRec | date:'dd/M/yyyy' }}
              td  
               span.label.label-default(ng-if="item.tipo == 1") Recibida
               span.label.label-default(ng-if="item.tipo == 2") Programada              
              td   
               span.label.label-primary(ng-if="item.estado == ESTADO_PROCESO") Proceso
               span.label.label-default(ng-if="item.estado == ESTADO_ANULADO") Anulado
               span.label.label-warning(ng-if="item.estado == ESTADO_CERRADO") Cerrado     
              td   
               span.label.label-primary(ng-if="item.jornada == JORNADA_MANANA") Mañana
               span.label.label-default(ng-if="item.jornada == JORNADA_TARDE") Tarde               
              td.wd-sm
                .ph.m0.text-muted.visible-inline.pull-right
                    em.icon-pencil.mr(tooltip="Editar ", tooltip-placement='bottom', ng-click='mensajerias.edit(item)')
                    em.icon-trash.mr.text-danger(tooltip="Eliminar ", tooltip-placement='bottom', ng-click='mensajerias.removeItem(item)')
    .row
      .col-lg-12(ng-hide='mensajerias.paginations.numPages == 1')
          pagination.m.pagination-sm.pull-right(total-items='mensajerias.paginations.totalItems',ng-model='mensajerias.paginations.currentPage',max-size='mensajerias.paginations.maxSize',boundary-links='true',rotate='false',items-per-page='mensajerias.paginations.itemsPerPage', previous-text="‹", next-text="›", num-pages='mensajerias.paginations.numPages', ng-change='mensajerias.changePage()', first-text="«", last-text="»")