html
  body
    h3
      a.text-primary(ng-click='mensajeria.back()') Mensajeria
      small Gestiona la información de la mensajeria
    .row
      .panel
        .panel-body
          form.form-horizontal.mb-lg(role='form')
            .form-group.m-sm
              fieldset.mb-sm.pb-sm
                .mb-lg.clearfix
                  button.btn.btn-sm.btn-primary(type='button', tooltip='Guardar', ng-click='mensajeria.save()')
                    span GUARDAR                         
                  button.btn.btn-sm.btn-default(type='button',  tooltip='Adjuntos', ng-click='mensajeria.uploadFile()',ng-show="btnAdjunto")
                    span ADJUNTOS
                  button.btn.btn-sm.btn-default(type='button',  tooltip='Agendas', ng-click='mensajeria.agenda()',ng-show="btnAdjunto")
                    span AGENDAS                
                  button.btn.btn-sm.btn-default(type='button',  tooltip='Seguimiento', ng-click='mensajeria.seguimiento()',ng-show="btnAdjunto")
                    span ...                  
                .mb-sm.clearfix
                  label.col-md-2.control-label Consecutivo
                  .col-md-3
                    input.form-control.input-sm(ng-model='mensajeria.model.consecutivo',ng-maxlength='80',ng-pattern='consecutivo')
                .mb-sm.clearfix
                  label.col-md-2.control-label Estado
                  .col-md-3
                    select.form-control(ng-model="estados.current", ng-options="item.descripcion for item in estados.data", ng-selected="estados.current.value==mensajeria.model.estado")                     
                .mb-sm.clearfix
                  label.col-md-2.control-label Cliente
                  .col-md-6
                     ui-select(ng-model='tercerosOp.current', theme='bootstrap',on-select='tercerosOp.setContactoTercero()')
                      ui-select-match(placeholder='Seleccione Cliente') {{$select.selected.tercero}}
                      ui-select-choices(repeat="m in tercerosOp.data | propsFilter: {tercero: $select.search, identificacion: $select.search} | orderBy: ['tercero', 'identificacion']")
                        div(ng-bind-html='m.tercero | highlight: $select.search')                        
                        small {{m.identificacion}} 
                .mb-sm.clearfix
                 label.col-md-2.control-label Descripción
                 .col-md-6
                    textarea.form-control( ng-model="mensajeria.model.descripcion")    
                .mb-sm.clearfix
                  label.col-md-2.control-label Jornada
                  .col-md-3
                    select.form-control(ng-model="jornadas.current", ng-options="item.descripcion for item in jornadas.data", ng-selected="jornadas.current.value==mensajeria.model.jornada")    
                .mb-sm.clearfix   
                  label.col-md-2.control-label Fecha
                  .col-md-3
                    .input-group
                        input.form-control.input-sm(type="text", uib-datepicker-popup="yyyy/MM/dd", ng-model="mensajeria.fechaRec.value", is-open="mensajeria.fechaRec.isOpen", datepicker-options="mensajeria.fechaRec.dateOptions", readonly="true", show-button-bar="false")
                        span.input-group-btn
                         button.btn.btn-sm.btn-default(type='button', ng-click='mensajeria.fechaRec.open($event)')
                          i.fa.fa-calendar 
                  label.col-md-2.control-label Tipo
                  .col-md-3
                    select.form-control(ng-model="tipos.current", ng-options="item.descripcion for item in tipos.data", ng-selected="tipos.current.value==mensajeria.model.tipo")                     
                .mb-sm.clearfix
                  label.col-md-2.control-label Usuario Reg
                  .col-md-3
                    input.form-control.input-sm(ng-model='mensajeria.model.usuarioReg', ng-maxlength='80', ng-pattern='usuarioReg',disabled)
                  label.col-md-2.control-label Usuario Act
                  .col-md-3
                    input.form-control.input-sm(ng-model='mensajeria.model.usuarioAct', ng-maxlength='80', ng-pattern='usuarioAct',disabled)
                .mb-sm.clearfix
                  label.col-md-2.control-label Fecha Reg
                  .col-md-3
                    .input-group
                        input.form-control.input-sm(type="text", uib-datepicker-popup="yyyy/MM/dd", ng-model="mensajeria.fechaReg.value", is-open="mensajeria.fechaReg.isOpen", datepicker-options="mensajeria.fechaReg.dateOptions", readonly="true", show-button-bar="false")
                        span.input-group-btn
                         button.btn.btn-sm.btn-default(type='button', ng-click='mensajeria.fechaReg.open($event)')
                          i.fa.fa-calendar 
                  label.col-md-2.control-label Fecha Act
                  .col-md-3
                    .input-group
                        input.form-control.input-sm(type="text", uib-datepicker-popup="yyyy/MM/dd", ng-model="mensajeria.fechaAct.value", is-open="mensajeria.fechaAct.isOpen", datepicker-options="mensajeria.fechaAct.dateOptions", readonly="true", show-button-bar="false")
                        span.input-group-btn
                         button.btn.btn-sm.btn-default(type='button', ng-click='mensajeria.fechaAct.open($event)')
                          i.fa.fa-calendar 
