<html>

<body>
   <h3><a ng-click="agenda.back()" class="text-primary">Agenda</a>
      <small>Gestión de agendas</small>
   </h3>
</body>

</html>
<div class="row">
   <div class="panel">
      <div class="panel-body">
         <tabset justified="true" class="bg-white p0">
            <tab>
               <tab-heading>Información</tab-heading>
               <br/>
               <div class="mb-sm clearfix">
                  <label class="col-md-2 control-label">Fecha Inicial</label>
                  <div class="col-md-3">
                     <div class="input-group">
                        <input type="text" uib-datepicker-popup="yyyy/MM/dd " ng-model="agenda.fechaInicial.value" is-open="agenda.fechaInicial.isOpen" datepicker-options="agenda.fechaInicial.dateOptions" readonly="true" show-button-bar="false" class="form-control input-sm"
                        />
                        <span class="input-group-btn">
                           <button type="button" ng-click="agenda.fechaInicial.open($event)" class="btn btn-sm btn-default"><i class="fa fa-calendar"> </i>
                           </button>
                        </span>
                     </div>
                  </div>
                  <label class="col-md-2 control-label">Fecha Final</label>
                  <div class="col-md-3">
                     <div class="input-group">
                        <input type="text" uib-datepicker-popup="yyyy/MM/dd" ng-model="agenda.fechaFinal.value" is-open="agenda.fechaFinal.isOpen" datepicker-options="agenda.fechaFinal.dateOptions" readonly="true" show-button-bar="false" class="form-control input-sm"
                        />
                        <span class="input-group-btn">
                           <button type="button" ng-click="agenda.fechaFinal.open($event)" class="btn btn-sm btn-default"><i class="fa fa-calendar">                       </i>
                           </button>
                        </span>
                     </div>
                  </div>
               </div>
               <div class="mb-sm clearfix">
                  <label class="col-md-2 control-label">Hora Inicial</label>
                  <div class="col-md-3">
                     <uib-timepicker ng-model="agenda.fechaInicial.value" ng-change="agenda.horaInicial.changed()" hour-step="agenda.horaInicial.hstep" minute-step="agenda.horaInicial.mstep" show-meridian="agenda.horaInicial.ismeridian"></uib-timepicker>
                  </div>
                  <label class="col-md-2 control-label">Hora Final</label>
                  <div class="col-md-3">
                     <uib-timepicker ng-model="agenda.fechaFinal.value" ng-change="agenda.horaFinal.changed()" hour-step="agenda.horaFinal.hstep" minute-step="agenda.horaFinal.mstep" show-meridian="agenda.horaFinal.ismeridian"></uib-timepicker>
                  </div>
               </div>
               <div class="mb-sm clearfix">
                  <label class="col-md-1 control-label">Asunto</label>
                  <div class="col-md-10">
                     <input ng-model="agenda.model.asunto" ng-maxlength="80" ng-pattern="asunto" required="required" class="form-control input-sm" />
                  </div>
               </div>
               <div class="mb-sm clearfix">
                  <label class="col-md-1 control-label">Descripción</label>
                  <div class="col-md-10">
                     <textarea ng-model="agenda.model.descripcion" required="required" class="form-control form-sm"></textarea>
                  </div>
               </div>
               <div class="mb-sm clearfix">
                  <label class="col-md-1 control-label">Estado</label>
                  <div class="col-md-3">
                     <select ng-model="estados.current" ng-options="item.descripcion for item in estados.data" ng-selected="estados.current.value==agenda.model.estado" class="form-control"></select>
                  </div>
                  <label class="col-md-2 control-label">Tipo</label>
                  <div class="col-md-5">
                     <select ng-model="tipoAgenda.current" ng-options="tipo.descripcion for tipo in tipoAgenda.data" ng-selected="tipo.Codigo==agenda.model.tipoAgendaId" ng-change="tipoAgenda.setTipo()" class="form-control"></select>
                  </div>
               </div>
               <div class="mb-lg clearfix">
                  <button type="button" tooltip="Guardar" ng-click="agenda.save()" class="btn btn-sm btn-primary">
                     <span>GUARDAR</span>
                  </button>
                  <button type="button" tooltip="Adjuntos" ng-show="modoCreacion" ng-click="agenda.uploadFile()" class="btn btn-sm btn-default">
                     <span>ADJUNTOS</span>
                  </button>
                  <button type="button" tooltip="Seguimientos" ng-show="modoCreacion" ng-click="agenda.seguimiento()" class="btn btn-sm btn-default">
                     <span>...</span>
                  </button>
               </div>
            </tab>
            <tab>
               <tab-heading>Responsables</tab-heading>
               <br/>
               <div class="mb-sm clearfix">
                  <div class="col-md-5">
                     <ui-select ng-model="funcionarios.current" theme="bootstrap">
                        <ui-select-match placeholder="Seleccione ">{{$select.selected.nombre}}</ui-select-match>
                        <ui-select-choices repeat="m in funcionarios.data | propsFilter: {nombre: $select.search, cargo: $select.search} | orderBy: ['nombre', 'cargo']">
                           <div ng-bind-html="m.nombre | highlight: $select.search"></div>
                           <small>{{m.cargo}}</small>
                        </ui-select-choices>
                     </ui-select>
                  </div>
                  <div class="col-md-3">
                     <button type="button" tooltip="Agregar Responsable" ng-click="agenda.addResponsable()" class="btn btn-sm btn-primary">
                        <span>
                           <em class="icon-plus"></em>
                        </span>
                        <span class="ng-binding">Agregar Responsable</span>
                     </button>
                  </div>
               </div>
               <div class="panel-body p0">
                  <div class="table-responsive table-bordered">
                     <table class="table table-hover wd-wide">
                        <thead>
                           <tr>
                              <th>Nombre</th>
                              <th></th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr ng-repeat="item in agenda.model.responsables">
                              <td>{{ item.nombre }}</td>
                              <td class="wd-sm">
                                 <div class="ph m0 text-muted visible-inline pull-right">
                                    <em tooltip="Eliminar Responsable" tooltip-placement="bottom" ng-click="agenda.removeResponsable(item)" class="icon-trash mr text-danger"></em>
                                 </div>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </tab>
            <tab>
               <tab-heading>Consecutivos</tab-heading>
               <br/>
               <div class="mb-sm clearfix">
                  <div class="col-md-5">
                     <ui-select ng-model="consecutivos.current" theme="bootstrap">
                        <ui-select-match placeholder="Seleccione ">{{$select.selected.consecutivo}}</ui-select-match>
                        <ui-select-choices repeat="m in consecutivos.data | propsFilter: {consecutivo: $select.search, cliente: $select.search} | orderBy: ['consecutivo', 'cliente']">
                           <div ng-bind-html="m.consecutivo | highlight: $select.search"></div>
                           <small>{{m.cliente}}</small>
                        </ui-select-choices>
                     </ui-select>
                  </div>
                  <div class="col-md-3">
                     <button type="button" tooltip="Agregar Consecutivo" ng-click="agenda.addConsecutivo()" class="btn btn-sm btn-primary">
                        <span>
                           <em class="icon-plus"></em>
                        </span>
                        <span class="ng-binding">Agregar Consecutivo</span>
                     </button>
                  </div>
               </div>
               <div class="panel-body p0">
                  <div class="table-responsive table-bordered">
                     <table class="table table-hover wd-wide">
                        <thead>
                           <tr>
                              <th>Nombre</th>
                              <th></th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr ng-repeat="item in agenda.model.consecutivos">
                              <td>{{ item.consecutivo }}</td>
                              <td class="wd-sm">
                                 <div class="ph m0 text-muted visible-inline pull-right">
                                    <em tooltip="Eliminar Consecutivo" tooltip-placement="bottom" ng-click="agenda.removeConsecutivo(item)" class="icon-trash mr text-danger"></em>
                                 </div>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </tab>
         </tabset>
      </div>
   </div>
</div>