<div class="modal-header p-sm pl-lg pr-lg">
   <header>
      <span class="text-light lead">AGENDAS
         <a type="button" ng-click="agenda.close()" class="pull-right">
            <span class="fa fa-times text-danger"></span>
         </a>
      </span>
   </header>
</div>
<div class="modal-body clearfix">
   <div class="row">
      <div class="mb-sm clearfix">
         <div class="mb-sm clearfix">
            <label class="col-md-2 control-label">Fecha Inicial</label>
            <div class="col-md-3">
               <div class="input-group">
                  <input type="text" uib-datepicker-popup="yyyy/MM/dd " ng-model="agenda.fechaInicial.value" is-open="agenda.fechaInicial.isOpen" datepicker-options="agenda.fechaInicial.dateOptions" readonly="true" show-button-bar="false" class="form-control input-sm"
                  />
                  <span class="input-group-btn">
                     <button type="button" ng-click="agenda.fechaInicial.open($event)" class="btn btn-sm btn-default"><i class="fa fa-calendar"> </i>
                     </button>
                  </span>
               </div>
            </div>
            <label class="col-md-2 control-label">Fecha Final</label>
            <div class="col-md-3">
               <div class="input-group">
                  <input type="text" uib-datepicker-popup="yyyy/MM/dd" ng-model="agenda.fechaFinal.value" is-open="agenda.fechaFinal.isOpen" datepicker-options="agenda.fechaFinal.dateOptions" readonly="true" show-button-bar="false" class="form-control input-sm"
                  />
                  <span class="input-group-btn">
                     <button type="button" ng-click="agenda.fechaFinal.open($event)" class="btn btn-sm btn-default"><i class="fa fa-calendar">                       </i>
                     </button>
                  </span>
               </div>
            </div>
         </div>
         <div class="mb-sm clearfix">
            <label class="col-md-2 control-label">Hora Inicial</label>
            <div class="col-md-3">
               <uib-timepicker ng-model="agenda.fechaInicial.value" ng-change="agenda.horaInicial.changed()" hour-step="agenda.horaInicial.hstep" minute-step="agenda.horaInicial.mstep" show-meridian="agenda.horaInicial.ismeridian"></uib-timepicker>
            </div>
            <label class="col-md-2 control-label">Hora Final</label>
            <div class="col-md-3">
               <uib-timepicker ng-model="agenda.fechaFinal.value" ng-change="agenda.horaFinal.changed()" hour-step="agenda.horaFinal.hstep" minute-step="agenda.horaFinal.mstep" show-meridian="agenda.horaFinal.ismeridian"></uib-timepicker>
            </div>
         </div>
         <div class="mb-sm clearfix">
            <label class="col-md-1 control-label">Asunto</label>
            <div class="col-md-10">
               <input ng-model="agenda.model.asunto" ng-maxlength="80" ng-pattern="asunto" required="required" class="form-control input-sm" />
            </div>
         </div>
         <div class="mb-sm clearfix">
            <label class="col-md-1 control-label">Descripción</label>
            <div class="col-md-10">
               <textarea ng-model="agenda.model.descripcion" required="required" class="form-control form-sm"></textarea>
            </div>
         </div>
         <div class="mb-sm clearfix">
            <label class="col-md-1 control-label">Estado</label>
            <div class="col-md-3">
               <select ng-model="estados.current" ng-options="item.descripcion for item in estados.data" ng-selected="estados.current.value==agenda.model.estado" class="form-control"></select>
            </div>
         </div>
         <div class="mb-lg clearfix">
            <button type="button" tooltip="Guardar" ng-click="agenda.save()" class="btn btn-sm btn-primary">
               <span>GUARDAR</span>
            </button>
            <button type="button" tooltip="Cancelar" ng-click="agenda.cancel()" class="btn btn-sm btn-default">
               <span>CANCELAR</span>
            </button>
            <button type="button" tooltip="Seguimientos" ng-click="agenda.seguimiento()" ng-show="modoEdicion" class="btn btn-sm btn-default">
               <span>...</span>
            </button>
            <button type="button" tooltip="Abrir" ng-click="agenda.openReference()" ng-show="modoEdicion" class="btn btn-sm btn-default">
               <span>ABRIR</span>
            </button>
         </div>
      </div>
   </div>
</div>