<h3>Agendas
   <small>Control de agendas</small>
</h3>
<div class="row col-xs-11">
   <div class="panel">
      <div class="panel-body p0">
         <div class="mb-sm clearfix"></div>
         <div class="mb-sm clearfix">
            <label class="col-md-1 control-label">Proceso:</label>
            <div class="col-md-3">
               <select ng-model="procesoAgenda.current" ng-options="item.proceso for item in procesoAgenda.data" ng-change="procesoAgenda.setProceso()" class="form-control"></select>
            </div>
            <label class="col-md-1 control-label">Tipo:</label>
            <div class="col-md-3">
               <select ng-model="tipoAgenda.current" ng-options="item.descripcion for item in tipoAgenda.data" class="form-control"></select>
            </div>
            <label class="col-md-1 control-label">Estado:</label>
            <div class="col-md-3">
               <select ng-model="estadoAgenda.current" ng-options="item.descripcion for item in estadoAgenda.data" class="form-control"></select>
            </div>
         </div>
         <div class="mb-sm clearfix">
            <label class="col-md-1 control-label">{{agendas.procesoAsociado}}</label>
            <div class="col-md-5">
               <ui-select ng-model="procesoAsociado.current" theme="bootstrap" on-select="procesoAsociado.setProcesoAsociado()">
                  <ui-select-match placeholder="Seleccione">{{$select.selected.descripcion}}</ui-select-match>
                  <ui-select-choices repeat="m in procesoAsociado.data | propsFilter: {descripcion: $select.search, proceso: $select.search} | orderBy: ['proceso', 'descripcion']">
                     <div ng-bind-html="m.descripcion | highlight: $select.search"></div>
                     <small>{{m.proceso}}</small>
                  </ui-select-choices>
               </ui-select>
            </div>
            <label class="col-md-1 control-label">Participante:</label>
            <div class="col-md-5">
               <ui-select ng-model="responsableProceso.current" theme="bootstrap">
                  <ui-select-match placeholder="Seleccione">{{$select.selected.nombre}}</ui-select-match>
                  <ui-select-choices repeat="m in responsableProceso.data | propsFilter: {nombre: $select.search, cargo: $select.search} | orderBy: ['nombre', 'cargo']">
                     <div ng-bind-html="m.nombre | highlight: $select.search"></div>
                     <small>{{m.cargo}}</small>
                  </ui-select-choices>
               </ui-select>
            </div>
         </div>
         <div class="mb-sm clearfix">
            <label class="col-md-2 control-label">Fecha Inicial:</label>
            <div class="col-md-3">
               <div class="input-group">
                  <input type="text" uib-datepicker-popup="yyyy/MM/dd " ng-model="agendas.fechaInicial.value" is-open="agendas.fechaInicial.isOpen" datepicker-options="agendas.fechaInicial.dateOptions" readonly="true" show-button-bar="false" class="form-control input-sm"
                  />
                  <span class="input-group-btn">
                     <button type="button" ng-click="agendas.fechaInicial.open($event)" class="btn btn-sm btn-default"><i class="fa fa-calendar"> </i>
                     </button>
                  </span>
               </div>
            </div>
            <label class="col-md-2 control-label">Fecha Final:</label>
            <div class="col-md-3">
               <div class="input-group">
                  <input type="text" uib-datepicker-popup="yyyy/MM/dd" ng-model="agendas.fechaFinal.value" is-open="agendas.fechaFinal.isOpen" datepicker-options="agendas.fechaFinal.dateOptions" readonly="true" show-button-bar="false" class="form-control input-sm"
                  />
                  <span class="input-group-btn">
                     <button type="button" ng-click="agendas.fechaFinal.open($event)" class="btn btn-sm btn-default"><i class="fa fa-calendar"> </i>
                     </button>
                  </span>
               </div>
            </div>
         </div>
         <div class="mb-sm-10 clearfix pb-sm">
            <div class="pull-right">
               <button type="button" ng-click="agendas.getData()" class="btn btn-sm pull-left btn-primary">
                  <span>CONSULTAR</span>
               </button>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="row">
   <div class="panel">
      <div class="panel-heading">
         <div class="row">
            <div class="input-group m0 col-xs-6 col-sm-3 pull-left">
               <span class="input-group-addon input-sm">
                  <em class="icon-magnifier"></em>
               </span>
               <input type="text" ng-change="agendas.filter()" ng-model="agendas.filterText" class="form-control input-sm" />
            </div>
            <div class="form-group m0 col-xs-6 col-sm-9">
               <div class="pull-right">
                  <button type="button" tooltip="{{ 'app.ADD' | translate }}" ng-click="agendas.add()" class="btn btn-sm btn-primary">
                     <span>
                        <em class="icon-plus"></em>
                     </span>
                     <span class="hidden-xs">{{ 'app.ADD' | translate }}</span>
                  </button>
                  <button type="button" tooltip="{{ 'app.SELECT' | translate }}" ng-click="agendas.selectAll()" class="btn btn-sm btn-default">
                     <span>
                        <em class="text-primary icon-check"></em>
                     </span>
                     <span class="hidden-xs">{{ 'app.SELECT' | translate }}</span>
                  </button>
                  <button type="button" tooltip="{{ 'app.DELETE' | translate }}" ng-click="agendas.remove()" class="btn btn-sm btn-default">
                     <span>
                        <em class="text-danger icon-trash"></em>
                     </span>
                     <span class="hidden-xs">{{ 'app.DELETE' | translate }}</span>
                  </button>
               </div>
            </div>
         </div>
      </div>
      <div class="panel-body p0">
         <div class="table-responsive table-bordered">
            <table class="table table-hover wd-wide">
               <thead>
                  <tr>
                     <th></th>
                     <th>DESCRIPCION</th>
                     <th>ASUNTO</th>
                     <th>FECHA INICIO</th>
                     <th>FECHA FIN</th>
                     <th>ESTADO</th>
                     <th></th>
                  </tr>
               </thead>
               <tbody>
                  <td colspan="5" ng-show="agendas.loading" class="height-lg">
                     <p class="text-center"><i class="fa fa-spinner fa-spin fa-2x text-muted"></i>
                     </p>
                     <p class="text-center lead text-primary">{{ 'app.LOADING_TEXT' | translate }}</p>
                  </td>
                  <td colspan="5" ng-show="agendas.noData" class="height-lg">
                     <p class="text-center lead text-primary">{{ 'app.NO_DATA' | translate }}</p>
                  </td>
                  <tr ng-repeat="item in agendas.data | orderBy: 'nombre'" ng-class="{true: 'active'}[item.check]">
                     <td class="wd-xxs">
                        <div class="checkbox c-checkbox m0">
                           <label>
                              <input type="checkbox" ng-model="item.check" />
                              <span class="fa fa-check"></span>
                           </label>
                        </div>
                     </td>
                     <td>{{ item.description }}</td>
                     <td>{{ item.title }}</td>
                     <td>{{ item.start | date:'dd/M/yyyy hh:mm' }}</td>
                     <td>{{ item.end | date:'dd/M/yyyy hh:mm' }}</td>
                     <td>
                        <span ng-if="item.state == ESTADO_ABIERTA" class="label label-primary">Abierta</span>
                        <span ng-if="item.state == ESTADO_ANULADO" class="label label-default">Anulado</span>
                        <span ng-if="item.state == ESTADO_CERRADO" class="label label-warning">Cerrado</span>
                        <span ng-if="item.state == ESTADO_CANCELADO" class="label label-warning">Cancelado</span>
                        <span ng-if="item.state == ESTADO_APROBADA" class="label label-warning">Aprobada</span>
                     </td>
                     <td class="wd-sm">
                        <div class="ph m0 text-muted visible-inline pull-right">
                           <em tooltip="Editar tercero" tooltip-placement="bottom" ng-click="agendas.edit(item)" class="icon-pencil mr"></em>
                        </div>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
      <div class="row">
         <div ng-hide="agendas.paginations.numPages == 1" class="col-lg-12">
            <pagination total-items="agendas.paginations.totalItems" ng-model="agendas.paginations.currentPage" max-size="agendas.paginations.maxSize" boundary-links="true" rotate="false" items-per-page="agendas.paginations.itemsPerPage" previous-text="‹"
            next-text="›" num-pages="agendas.paginations.numPages" ng-change="agendas.changePage()" first-text="«" last-text="»" class="m pagination-sm pull-right"></pagination>
         </div>
      </div>
   </div>
</div>