<h3><a class="text-primary">Parametros</a>
   <small></small>
</h3>
<div class="row">
   <div class="panel">
      <div class="panel-heading">
         <div class="row">
            <div class="input-group m0 col-xs-6 col-sm-3 pull-left">
               <span class="input-group-addon input-sm">
                  <em class="icon-magnifier"></em>
               </span>
               <input type="text" ng-change="parametros.filter()" ng-model="parametros.filterText" class="form-control input-sm" />
            </div>
         </div>
      </div>
      <div class="panel-body p0">
         <div class="table-responsive table-bordered">
            <table class="table table-hover wd-wide">
               <thead>
                  <tr>
                     <th>DESCRIPCIÓN</th>
                     <th>VALOR</th>
                     <th></th>
                  </tr>
               </thead>
               <tbody>
                  <td colspan="5" ng-show="parametros.loading" class="height-lg">
                     <p class="text-center"><i class="fa fa-spinner fa-spin fa-2x text-muted"></i>
                     </p>
                     <p class="text-center lead text-primary">{{ 'app.LOADING_TEXT' | translate }}</p>
                  </td>
                  <td colspan="5" ng-show="parametros.noData" class="height-lg">
                     <p class="text-center lead text-primary">{{ 'app.NO_DATA' | translate }}</p>
                  </td>
                  <tr ng-repeat="item in parametros.data | orderBy: 'descripcion' " ng-class="{true: 'active'}[item.check]">
                     <td>{{ item.descripcion }}</td>
                     <td>{{ item.valormin }}</td>
                     <td class="wd-sm">
                        <div class="ph m0 text-muted visible-inline pull-right">
                           <em tooltip="Editar parametro" tooltip-placement="bottom" ng-click="parametros.edit(item)" class="icon-pencil mr text-primary"></em>
                        </div>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
      <div class="row">
         <div ng-hide="parametros.paginations.numPages == 1" class="col-lg-12">
            <pagination total-items="parametros.paginations.totalItems" ng-model="parametros.paginations.currentPage" max-size="parametros.paginations.maxSize" boundary-links="true" rotate="false" items-per-page="parametros.paginations.itemsPerPage" previous-text="‹"
            next-text="›" num-pages="parametros.paginations.numPages" ng-change="parametros.changePage()" first-text="«" last-text="»" class="m pagination-sm pull-right"></pagination>
         </div>
      </div>
   </div>
</div>