<div class="modal-header p-sm pl-lg pr-lg">
   <header>
      <label class="col-md-7 control-label text-primary">Detalle del Parametro</label>
      <a type="button" ng-click="parametro.dismiss()" class="pull-right">
         <span class="fa fa-times text-danger"></span>
      </a>
      <br/>
   </header>
</div>
<div class="modal-body clearfix">
   <div class="mb-sm clearfix">
      <label class="col-md-1 control-label">Descripción:</label>
   </div>
   <div class="mb-sm clearfix">
      <div class="col-md-12">
         <input ng-model="parametro.model.descripcion" class="form-control input-sm" />
      </div>
   </div>
   <div class="mb-sm clearfix">
      <label class="col-md-1 control-label">Valor:</label>
   </div>
   <div class="mb-sm clearfix">
      <div class="col-md-12">
         <textarea ng-model="parametro.model.valor" colspan="5" class="form-control"></textarea>
      </div>
   </div>
</div>
<div class="modal-footer">
   <button type="button" tooltip="Guardar" ng-click="parametro.save()" class="btn btn-primary">
      <span>GUARDAR</span>
   </button>
   <button type="button" tooltip="Cancelar" ng-click="parametro.dismiss()" class="btn btn-default">
      <span>CANCELAR</span>
   </button>
</div>