html
  body
    h3
      a.text-primary(ng-click='tercero.back()') Cliente
      small Gestiona la información de los clientes
    .row
      .panel
        .panel-body
          form.form-horizontal.mb-lg(role='form')
            .form-group.m-sm
              fieldset.mb-sm.pb-sm
                .mb-lg.clearfix
                  button.btn.btn-sm.btn-primary(type='button', tooltip='Guardar', ng-click='tercero.save()')
                    span GUARDAR
                  button.btn.btn-sm.btn-default(type='button', tooltip='Cancelar', ng-click='tercero.back()')
                    span CANCELAR     
                  button.btn.btn-sm.btn-default(type='button', tooltip='Adjuntos' ng-click='tercero.uploadFile()',ng- show="divContactoTercero")
                    span ADJUNTOS
                  button.btn.btn-sm.btn-default(type='button', tooltip='Seguimientos' ng-click='tercero.seguimiento()',ng-show="divContactoTercero")
                    span ...                    
                .mb-sm.clearfix
                  label.col-md-2.control-label Identificación
                  .col-md-3
                    input.form-control.input-sm(ng-model='tercero.model.identificacion',ng-maxlength='80',ng-pattern='identificacion')
                  label.col-md-2.control-label Estado
                  .col-md-3
                    select.form-control(ng-model="estados.current", ng-options="item.descripcion for item in estados.data", ng-selected="estados.current.value==tercero.model.estado")   
                .mb-sm.clearfix
                  label.col-md-2.control-label Teléfono
                  .col-md-3
                    input.form-control.input-sm(ng-model='tercero.model.telefono', ng-maxlength='80', ng-pattern='telefono')
                  label.col-md-2.control-label Email
                  .col-md-3
                    input.form-control.input-sm(ng-model='tercero.model.correo', ng-maxlength='80', ng-pattern='correo',type='email') 
                .mb-sm.clearfix    
                  label.col-md-2.control-label Nombre
                  .col-md-8
                    input.form-control.input-sm(ng-model='tercero.model.nombre', ng-maxlength='80', ng-pattern='nombre')
                .mb-sm.clearfix                     
                  label.col-md-2.control-label Dirección
                  .col-md-8
                    textarea.form-control( ng-model="tercero.model.direccion") 
                .mb-sm.clearfix
                  label.col-md-2.control-label Usuario Reg
                  .col-md-3
                    input.form-control.input-sm(ng-model='tercero.model.usuarioReg', ng-maxlength='80', ng-pattern='usuarioReg',disabled)
                  label.col-md-2.control-label Usuario Act
                  .col-md-3
                    input.form-control.input-sm(ng-model='tercero.model.usuarioAct', ng-maxlength='80', ng-pattern='usuarioAct',disabled)
                .mb-sm.clearfix
                  label.col-md-2.control-label Fecha Reg
                  .col-md-3
                    .input-group
                        input.form-control.input-sm(type="text", uib-datepicker-popup="yyyy/MM/dd", ng-model="tercero.fechaReg.value", is-open="tercero.fechaReg.isOpen", datepicker-options="tercero.fechaReg.dateOptions", readonly="true", show-button-bar="false")
                        span.input-group-btn
                         button.btn.btn-sm.btn-default(type='button', ng-click='tercero.fechaReg.open($event)')
                          i.fa.fa-calendar 
                  label.col-md-2.control-label Fecha Act
                  .col-md-3
                    .input-group
                        input.form-control.input-sm(type="text", uib-datepicker-popup="yyyy/MM/dd", ng-model="tercero.fechaAct.value", is-open="tercero.fechaAct.isOpen", datepicker-options="tercero.fechaAct.dateOptions", readonly="true", show-button-bar="false")
                        span.input-group-btn
                         button.btn.btn-sm.btn-default(type='button', ng-click='tercero.fechaAct.open($event)')
                          i.fa.fa-calendar
    .row(ng-show="divContactoTercero")
      .panel
        .panel-body
          form.form-horizontal.mb-lg(role='form')
            .form-group.m-sm
              fieldset.mb-sm.pb-sm
                span.lead.md-lg.text-primary Contactos
            .row
             div.mb-sm.clearfix  
              .input-group.m0.col-xs-4.pull-left
                  span.input-group-addon.input-sm
                    em.icon-magnifier
                  input.form-control.input-sm(type='text', ng-model='filtroContactoTercero' )
              .col-xs-2
                button.btn.btn-sm.btn-primary(type='button', tooltip="Agregar Contrato", ng-click='contactoTercero.add()')
                  span: em.icon-plus
                  span Agregar
            .row
              .form-group.col-sm-12
                .table-responsive.table-bordered
                  table.table.table-hover.wd-wide
                    thead
                      tr
                       th
                       th NOMBRE
                       th TELEFONO
                       th CARGO
                       th EMAIL                       
                     tbody
                       tr(ng-repeat="contacto in contactoTercero.data | filter: filtroContactoTercero | orderBy: 'nombre'")
                        td.wd-xxs
                          button.btn.btn-xs.btn-primary(ng-click="contactoTercero.edit(contacto)")
                            span.fa.fa-pencil-square-o
                        td {{contacto.nombre}}
                        td {{contacto.telefono}}
                        td {{contacto.cargo}}
                        td {{contacto.email}}
                        td
                          em.icon-trash.mr.text-danger(tooltip='Eliminar Contacto', tooltip-placement='bottom', ng-click='contactoTercero.delete(contacto)') 
    
