h3 Clientes
  small Control de Clientes
  
.row.col-xs-11
  .panel
    .panel-body.p0
      .mb-sm.clearfix
      .mb-sm.clearfix
        label.col-md-2.control-label Estado:
        .col-md-5
          select.form-control(ng-model='estadoTercero.current', ng-options='item.descripcion for item in estadoTercero.data', ng-change="terceros.getData()")
.row
  .panel
    .panel-heading
      .row
        .input-group.m0.col-xs-6.col-sm-3.pull-left
          span.input-group-addon.input-sm
            em.icon-magnifier
          input.form-control.input-sm(type='text' ng-change='terceros.filter()' ng-model='terceros.filterText' )
        .form-group.m0.col-xs-6.col-sm-9
          .pull-right
            button.btn.btn-sm.btn-primary(type='button', tooltip="{{ 'app.ADD' | translate }}", ng-click='terceros.add()')
              span: em.icon-plus
              span.hidden-xs {{ 'app.ADD' | translate }}
            button.btn.btn-sm.btn-default(type='button', tooltip="{{ 'app.SELECT' | translate }}", ng-click='terceros.selectAll()')
              span: em.text-primary.icon-check
              span.hidden-xs {{ 'app.SELECT' | translate }}            
    .panel-body.p0
      .table-responsive.table-bordered
        table.table.table-hover.wd-wide
          thead
            tr              
              th IDENTIFICACION
              th NOMBRE 
              th EMAIL
              th TELEFONO  
              th ESTADO  
              th 
          tbody
            td.height-lg(colspan="7", ng-show="terceros.loading")
              p.text-center
                i.fa.fa-spinner.fa-spin.fa-2x.text-muted
              p.text-center.lead.text-primary {{ 'app.LOADING_TEXT' | translate }}
            td.height-lg(colspan="7", ng-show="terceros.noData")
              p.text-center.lead.text-primary {{ 'app.NO_DATA' | translate }}
            tr(ng-repeat="item in terceros.data ", ng-class="{true: 'active'}[item.check]")
              
              td {{ item.identificacion }}
              td {{ item.nombre }}
              td {{ item.correo }}
              td {{ item.telefono }}              
              td
               span.label.label-primary(ng-if="item.estado == ESTADO_ACTIVO") Activo
               span.label.label-default(ng-if="item.estado == ESTADO_INACTIVO") Inactivo
               span.label.label-warning(ng-if="item.estado == ESTADO_ELIMINADO") Eliminado
              td.wd-sm
                .ph.m0.text-muted.visible-inline.pull-right
                    em.icon-pencil.mr(tooltip="Editar tercero", tooltip-placement='bottom', ng-click='terceros.edit(item)')
                    em.icon-trash.mr.text-danger(tooltip="Eliminar tercero", tooltip-placement='bottom', ng-click='terceros.removeItem(item)')
    .row
      .col-lg-12(ng-hide='terceros.paginations.numPages == 1')
          pagination.m.pagination-sm.pull-right(total-items='terceros.paginations.totalItems',ng-model='terceros.paginations.currentPage',max-size='terceros.paginations.maxSize',boundary-links='true',rotate='false',items-per-page='terceros.paginations.itemsPerPage', previous-text="‹", next-text="›", num-pages='terceros.paginations.numPages', ng-change='terceros.changePage()', first-text="«", last-text="»")
