<div class="modal-header p-sm pl-lg pr-lg">
   <header>
      <span class="text-light lead">SEGUIMIENTOS
         <a type="button" ng-click="seguimiento.close()" class="pull-right">
            <span class="fa fa-times text-danger"></span>
         </a>
      </span>
   </header>
</div>
<div class="modal-body clearfix">
   <div class="row">
      <div class="col-md-12">
         <form name="formSeguimiento">
            <div class="form-group m-sm">
               <div class="mb-sm clearfix">
                  <span class="col-md-2">Comentario</span>
                  <div class="col-md-10">
                     <textarea ng-model="seguimiento.model.descripcion" required="required" class="form-control form-sm"></textarea>
                  </div>
               </div>
               <div class="mb-sm clearfix">
                  <button ng-disabled="!formSeguimiento.$valid" ng-click="seguimiento.save()" class="btn btn-primary">Ok</button>
               </div>
            </div>
         </form>
      </div>
   </div>
   <div class="row">
      <div class="col-md-12">
         <div class="table-responsive table-bordered">
            <table class="table table-hover wd-wide">
               <thead>
                  <tr>
                     <th>FECHA</th>
                     <th>COMENTARIO</th>
                     <th>USUARIO</th>
                     <th></th>
                     <th ng-hide="hideDelete"></th>
                  </tr>
               </thead>
               <tbody>
                  <td colspan="7" ng-show="seguimiento.loading" class="height-sm">
                     <p class="text-center"><i class="fa fa-spinner fa-spin fa-2x text-muted"></i>
                     </p>
                     <p class="text-center lead text-primary">{{ 'app.LOADING_TEXT' | translate }}</p>
                  </td>
                  <td colspan="7" ng-show="seguimiento.noData" class="height-sm">
                     <p class="text-center lead text-primary">No se encontraron seguimientos</p>
                  </td>
                  <tr ng-repeat="item in seguimiento.data" ng-class="{true: 'active'}[item.check]">
                     <td>{{ item.fechaReg | date:'dd-M-yyyy H:mm'}}</td>
                     <td>{{ item.descripcion }}</td>
                     <td>{{ item.usuarioReg }}</td>
                     <td class="wd-xxs">
                        <button ng-click="seguimiento.visualizar(item.id)" class="btn btn-xs btn-primary">
                           <span class="fa fa-eye"></span>
                        </button>
                     </td>
                     <td ng-hide="hideDelete" class="wd-xxs">
                        <button ng-click="seguimiento.eliminar(item.id)" class="btn btn-xs btn-danger">
                           <span class="fa fa-trash-o"></span>
                        </button>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
   <div class="row">
      <div ng-hide="seguimiento.paginations.numPages == 1" class="col-lg-12">
         <pagination total-items="seguimiento.paginations.totalItems" ng-model="seguimiento.paginations.currentPage" max-size="seguimiento.paginations.maxSize" boundary-links="true" rotate="false" items-per-page="seguimiento.paginations.itemsPerPage" previous-text="‹"
         next-text="›" num-pages="seguimiento.paginations.numPages" ng-change="seguimiento.changePage()" first-text="«" last-text="»" class="m pagination-sm pull-right"></pagination>
      </div>
   </div>
</div>