.modal-header.p-sm.pl-lg.pr-lg
  header
    label.col-md-7.control-label.text-primary Detalle del Parametro
    a.pull-right(type="button", ng-click="parametro.dismiss()")
      span.fa.fa-times.text-danger
    br
    .btn-group-small(text-angular='', ng-model='art.htmlContent', name='wysiswyg-editor')
.modal-body.clearfix
  {{parametro.view}}
.modal-footer
  button.btn.btn-default(type="button", ng-click="parametro.dismiss()") Cerrar