<div class="bg-login"></div>
<div class="block-center mt-xl wd-xl">
   <!-- START panel-->
   <div class="panel panel-dark panel-flat">
      <div class="panel-heading text-center">
         <a href="#">
            <img src="app/img/logo.png" alt="Image" class="block-center img-rounded height-xxs" />
         </a>
      </div>
      <div class="panel-body">
         <h6 class="text-center pv lead text-primary">Recuperar contraseña</h6>
         <form role="form" name="recoverForm" class="form-validate">
            <p class="text-center">Enviaremos un correo electronico con información para continuar con el proceso.</p>
            <div class="form-group has-feedback">
               <input type="email" name="email" placeholder="Correo Electronico" autocomplete="off" ng-model="recover.model.email" required="" class="form-control" />
               <span class="fa fa-envelope form-control-feedback text-muted"></span>
               <span ng-show="recoverForm.email.$dirty &amp;&amp; recoverForm.email.$error.required" class="text-danger">Campo requerido</span>
               <span ng-show="recoverForm.email.$dirty &amp;&amp; recoverForm.email.$error.email" class="text-danger">Debe ser un correo eléctronico</span>
            </div>
            <button type="button" ng-click="recover.resetPassword()" class="btn btn-primary btn-block">ENVIAR</button>
         </form>
      </div>
   </div>
   <!-- END panel-->
   <div class="p-lg text-center">
      <span>&copy;</span>
      <span ng-bind="app.year"></span>
      <span>-</span>
      <span ng-bind="app.name"></span>
      <br/>
      <span ng-bind="app.description"></span>
   </div>
</div>