<div class="bg-login"></div>
<div class="block-center mt-xl wd-xl">
   <!-- START panel-->
   <div class="panel panel-dark panel-flat">
      <div class="panel-heading text-center">
         <a href="#">
            <img src="app/img/logo.png" alt="Image" class="block-center img-rounded height-xxs" />
         </a>
      </div>
      <div class="panel-body">
         <h6 class="text-center pv lead text-primary">Asignar Contraseña</h6>
         <form role="form" name="recoverForm" class="form-validate">
            <p class="text-center">Por favor confirme su nueva contraseña</p>
            <div class="form-group has-feedback">
               <input type="password" name="password" placeholder="Contraseña" autocomplete="off" ng-model="reset.model.password" required="required" class="form-control" />
               <span class="fa fa-envelope form-control-feedback text-muted"></span>
            </div>
            <div class="form-group has-feedback">
               <input type="password" name="repeat_password" placeholder="Repita La Contraseña" autocomplete="off" ng-model="reset.model.repeatPassword" required="required" class="form-control" />
               <span class="fa fa-envelope form-control-feedback text-muted"></span>
            </div>
            <button type="button" ng-click="reset.resetPassword()" class="btn btn-primary btn-block">CAMBIAR</button>
         </form>
      </div>
   </div>
   <!-- END panel-->
   <div class="p-lg text-center">
      <span>&copy;</span>
      <span ng-bind="app.year"></span>
      <span>-</span>
      <span ng-bind="app.name"></span>
      <br/>
      <span ng-bind="app.description"></span>
   </div>
</div>