<h3>Contratos-Servicios
   <small>Control de los Contratos-Servicios</small>
</h3>
<div class="row">
   <div class="panel">
      <div class="panel-heading">
         <div class="row">
            <div class="input-group m0 col-xs-6 col-sm-3 pull-left">
               <span class="input-group-addon input-sm">
                  <em class="icon-magnifier"></em>
               </span>
               <input type="text" ng-change="contratos.filter()" ng-model="contratos.filterText" class="form-control input-sm" />
            </div>
            <div class="form-group m0 col-xs-6 col-sm-9">
               <div class="pull-right">
                  <button type="button" tooltip="{{ 'app.ADD' | translate }}" ng-click="contratos.add()" class="btn btn-sm btn-primary">
                     <span>
                        <em class="icon-plus"></em>
                     </span>
                     <span class="hidden-xs">{{ 'app.ADD' | translate }}</span>
                  </button>
               </div>
            </div>
         </div>
      </div>
      <div class="panel-body p0">
         <div class="table-responsive table-bordered">
            <table class="table table-hover wd-wide">
               <thead>
                  <tr>
                     <th>CLIENTE</th>
                     <th>CONSECUTIVO</th>
                     <th>FECHA INICIO</th>
                     <th>FECHA FIN</th>
                     <th>ESTADO</th>
                  </tr>
               </thead>
               <tbody>
                  <td colspan="6" ng-show="contratos.loading" class="height-lg">
                     <p class="text-center"><i class="fa fa-spinner fa-spin fa-2x text-muted"></i>
                     </p>
                     <p class="text-center lead text-primary">{{ 'app.LOADING_TEXT' | translate }}</p>
                  </td>
                  <td colspan="6" ng-show="contratos.noData" class="height-lg">
                     <p class="text-center lead text-primary">{{ 'app.NO_DATA' | translate }}</p>
                  </td>
                  <tr ng-repeat="item in contratos.data | orderBy: 'nombre'" ng-class="{true: 'active'}[item.check]">
                     <td>{{ item.tercero }}</td>
                     <td>{{ item.consecutivo }}</td>
                     <td>{{ item.fechaInicial | date:'dd/M/yyyy' }}</td>
                     <td>{{ item.fechaFinal | date:'dd/M/yyyy' }}</td>
                     <td>
                        <span ng-if="item.estado == ESTADO_EJECUCION" class="label label-primary">Ejecución</span>
                        <span ng-if="item.estado == ESTADO_ANULADO" class="label label-default">Anulado</span>
                        <span ng-if="item.estado == ESTADO_CERRADO" class="label label-warning">Cerrado</span>
                        <span ng-if="item.estado == ESTADO_CANCELADO" class="label label-warning">Cancelado</span>
                     </td>
                     <td class="wd-sm">
                        <div class="ph m0 text-muted visible-inline pull-right">
                           <em tooltip="Editar" tooltip-placement="bottom" ng-click="contratos.edit(item)" class="icon-pencil mr"></em>
                        </div>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
      <div class="row">
         <div ng-hide="contratos.paginations.numPages == 1" class="col-lg-12">
            <pagination total-items="contratos.paginations.totalItems" ng-model="contratos.paginations.currentPage" max-size="contratos.paginations.maxSize" boundary-links="true" rotate="false" items-per-page="contratos.paginations.itemsPerPage" previous-text="‹"
            next-text="›" num-pages="contratos.paginations.numPages" ng-change="contratos.changePage()" first-text="«" last-text="»" class="m pagination-sm pull-right"></pagination>
         </div>
      </div>
   </div>
</div>