<h3>Curva Base Incremental</h3>
<div class="row">
   <div class="panel">
      <div class="panel-body">
         <div class="row">
            <form role="form" class="form-horizontal mb-lg col-md-7">
               <fieldset class="mb-sm pb-sm">
                  <div class="mb-sm clearfix">
                     <label class="col-sm-4 control-label">Contrato</label>
                     <div class="col-sm-4">
                        <select ng-model="contratos.current" ng-change="selectAction()" ng-options="contratos.nomContrato for contratos in contratos.data" class="form-control"></select>
                     </div>
                     <div class="group m0 col-xs-6 col-sm-3">
                        <div class="pull-right">
                           <div class="table-responsive table-bordered">
                              <table class="table table-hover wd-wide">
                                 <thead>
                                    <tr>
                                       <th>Campos</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr ng-repeat="item in dataPage.dataCampos">
                                       <td>
                                          <div class="checkbox c-checkbox m0">
                                             <label>
                                                <input type="checkbox" ng-model="item.selected" ng-true-value="1" ng-false-value="0" ng-click="" />
                                                <span class="fa fa-check"></span>
                                             </label>
                                          </div>
                                       </td>
                                       <td>{{ item.descripcion }}</td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="mb-sm clearfix">
                     <label class="col control-label">Resolución Producción Incremental</label>
                  </div>
                  <div class="mb-sm clearfix">
                     <label class="col-sm-4 control-label">Numero Resol.</label>
                     <div class="col-sm-4">
                        <input type="text" ng-model="curvaObject.model.numeroResolucion" ng-disabled="disabledAtri" class="form-control input-sm" />
                     </div>
                  </div>
                  <div class="mb-sm clearfix">
                     <label class="col-sm-4 control-label">Fecha Resolución</label>
                     <div class="col-sm-4">
                        <div class="input-group">
                           <input type="text" uib-datepicker-popup="yyyy/MM/dd" ng-model="curvaObject.fechaResolucion.value" is-open="curvaObject.fechaResolucion.isOpen" datepicker-options="curvaObject.fechaResolucion.dateOptions" readonly="false" show-button-bar="false"
                           ng-disabled="disabledAtri" class="form-control input-sm" />
                           <span class="input-group-btn">
                              <button type="button" ng-click="curvaObject.fechaResolucion.open($event)" class="btn btn-sm btn-default"><i class="fa fa-calendar"></i>
                              </button>
                           </span>
                        </div>
                     </div>
                  </div>
                  <div class="mb-sm clearfix">
                     <label class="col-sm-4 control-label">Fecha Inicial Base.</label>
                     <div class="col-sm-4">
                        <div class="input-group">
                           <input type="text" uib-datepicker-popup="yyyy/MM/dd" ng-model="curvaObject.fechaInicial.value" is-open="curvaObject.fechaInicial.isOpen" datepicker-options="curvaObject.fechaInicial.dateOptions" readonly="false" show-button-bar="false"
                           ng-disabled="disabledAtri" class="form-control input-sm" />
                           <span class="input-group-btn">
                              <button type="button" ng-click="curvaObject.fechaInicial.open($event)" class="btn btn-sm btn-default"><i class="fa fa-calendar"></i>
                              </button>
                           </span>
                        </div>
                     </div>
                  </div>
                  <div class="mb-sm clearfix">
                     <label class="col-sm-4 control-label">Fecha Final Base.</label>
                     <div class="col-sm-4">
                        <div class="input-group">
                           <input type="text" uib-datepicker-popup="yyyy/MM/dd" ng-model="curvaObject.fechaFinal.value" is-open="curvaObject.fechaFinal.isOpen" datepicker-options="curvaObject.fechaFinal.dateOptions" readonly="false" show-button-bar="false"
                           ng-disabled="disabledAtri" class="form-control input-sm" />
                           <span class="input-group-btn">
                              <button type="button" ng-click="curvaObject.fechaFinal.open($event)" class="btn btn-sm btn-default"><i class="fa fa-calendar"></i>
                              </button>
                           </span>
                        </div>
                     </div>
                  </div>
                  <div class="mb-sm clearfix">
                     <label class="col-sm-4 control-label">Tipo Hidroc</label>
                     <div class="col-sm-4">
                        <select ng-model="tipoHidro.current" ng-change="selectActionHidro()" ng-options="tipoHidro.name for tipoHidro in tipoHidro.data" ng-disabled="disabledAtriTipo" class="form-control"></select>
                     </div>
                  </div>
               </fieldset>
               <div class="mb-sm clearfix">
                  <button type="button" ng-click="curvaObject.actualizar()" ng-show="visualActualizarRender" class="btn btn-sm btn-primary">
                     <span class="hidden-xs">ACTUALIZAR</span>
                  </button>
                  <button type="button" ng-click="curvaObject.registrar()" ng-show="visualRegistrarRender" class="btn btn-sm btn-primary">
                     <span class="hidden-xs">REGISTRAR</span>
                  </button>
                  <button type="button" ng-click="curvaObject.uploadFile()" ng-disabled="disabledAtriAdjunto" class="btn btn-sm btn-info">
                     <span class="hidden-xs">ANEXOS</span>
                  </button>
                  <button type="button" ng-click="curvaObject.cargueMasiva()" ng-disabled="disabledAtriAdjunto" class="btn btn-sm btn">
                     <span class="hidden-xs">CARGAR DE EXCEL...</span>
                  </button>
               </div>
            </form>
         </div>
      </div>
      <div class="panel-body p0">
         <div class="table-responsive table-bordered">
            <table class="table table-hover wd-wide">
               <thead>
                  <tr>
                     <th>AÑO</th>
                     <th>ENERO</th>
                     <th>FEBRERO</th>
                     <th>MARZO</th>
                     <th>ABRIL</th>
                     <th>MAYO</th>
                     <th>JUNIO</th>
                     <th>JULIO</th>
                     <th>AGOSTO</th>
                     <th>SEPTIEMBRE</th>
                     <th>OCTUBRE</th>
                     <th>NOVIEMBRE</th>
                     <th>DICIEMBRE</th>
                     <TH></TH>
                  </tr>
               </thead>
               <tbody>
                  <td colspan="13" ng-show="dataPage.loading" class="height-lg">
                     <p class="text-center"><i class="fa fa-spinner fa-spin fa-2x text-muted"></i>
                     </p>
                     <p class="text-center lead text-primary">{{ 'app.LOADING_TEXT' | translate }}</p>
                  </td>
                  <td colspan="7" ng-show="dataPage.noData" class="height-lg">
                     <p class="text-center lead text-primary">{{ 'app.NO_DATA' | translate }}</p>
                  </td>
                  <tr ng-repeat="item in dataPage.data" ng-class="{true: 'active'}[item.check]">
                     <td>{{ item.anio }}</td>
                     <td>{{ item.mes1 }}</td>
                     <td>{{ item.mes2 }}</td>
                     <td>{{ item.mes3 }}</td>
                     <td>{{ item.mes4 }}</td>
                     <td>{{ item.mes5 }}</td>
                     <td>{{ item.mes6 }}</td>
                     <td>{{ item.mes7 }}</td>
                     <td>{{ item.mes8 }}</td>
                     <td>{{ item.mes9 }}</td>
                     <td>{{ item.mes10 }}</td>
                     <td>{{ item.mes11 }}</td>
                     <td>{{ item.mes12 }}</td>
                     <td class="wd-sm">
                        <div class="ph m0 text-muted visible-inline pull-right">
                           <em tooltip="Actualizar Registro" tooltip-placement="bottom" ng-click="dataPage.actualizarTabla(item)" class="icon-pencil mr"></em>
                        </div>
                     </td>
                  </tr>
               </tbody>
            </table>
            <div class="row">
               <div ng-hide="dataPage.paginations.numPages == 1" class="col-lg-12">
                  <pagination total-items="dataPage.paginations.totalItems" ng-model="dataPage.paginations.currentPage" max-size="dataPage.paginations.maxSize" boundary-links="true" rotate="false" items-per-page="dataPage.paginations.itemsPerPage" previous-text="‹"
                  next-text="›" num-pages="dataPage.paginations.numPages" ng-change="dataPage.changePage()" first-text="«" last-text="»" class="m pagination-sm pull-right"></pagination>
               </div>
            </div>
            <div class="mb-sm clearfix">
               <h3 class="col-lg-12">{{curvaObject.titulo}}
                  <div bar-chart="bar-chart" bar-data="barData" bar-x="y" bar-y="labels" bar-labels="labels" bar-colors="colors"></div>
               </h3>
            </div>
         </div>
      </div>
   </div>
</div>