<h3>Derivados Cartagena</h3>
<div class="row">
   <div class="panel">
      <span ng-if="mensaje!=null" class="alert alert-danger">{{mensaje}}</span>
      <div class="panel-body">
         <div class="row">
            <form role="form" class="form-horizontal mb-lg col-md-7">
               <fieldset class="mb-sm pb-sm">
                  <div class="mb-sm clearfix">
                     <label class="col-sm-2 control-label">Año</label>
                     <div class="col-sm-4">
                        <select ng-model="year.current" ng-options="year.name for year in year.data" class="form-control"></select>
                     </div>
                     <label class="col-sm-2 control-label">Mes</label>
                     <div class="col-sm-4">
                        <select ng-model="month.current" ng-options="month.name for month in month.data" class="form-control"></select>
                     </div>
                  </div>
                  <div class="mb-sm clearfix"></div>
               </fieldset>
            </form>
            <div>
               <div class="mb-lg clearfix"></div>
               <button type="button" ng-click="consultar()" class="btn btn-sm btn-primary">
                  <span class="hidden-xs">CONSULTAR</span>
               </button>
               <button type="button" ng-click="actualizar()" ng-show="visualizarActulizar" class="btn btn-sm btn-primary">
                  <span class="hidden-xs">ACTUALIZAR</span>
               </button>
               <button type="button" ng-click="limpiar()" class="btn btn-sm btn-defeult">
                  <span class="hidden-xs">LIMPIAR</span>
               </button>
            </div>
            <div></div>
         </div>
      </div>
      <div class="mb-sm clearfix"></div>
      <hr/>
      <fieldset class="mb-sm pb-sm">
         <div class="mb-sm clearfix">
            <label class="col-md-6 control-label">1. Volumen total cargado a refineria Car:</label>
            <div class="col-md-2">
               <input ui-number-mask="2" ng-model="derivados.model.volumenTotalRefineria" disabled="disabled" class="form-control input-sm" />
            </div>
         </div>
         <div class="mb-sm clearfix">
            <label class="col-md-6 control-label">2. Volumen crudo que llega refineria Car por ducto:</label>
            <div class="col-md-2">
               <input ui-number-mask="2" ng-model="derivados.model.volumenCrudoRefineria" class="form-control input-sm" />
            </div>
         </div>
         <div class="mb-sm clearfix">
            <label class="col-md-6 control-label">3. % de crudo cargado a Car que no ha recibido participación por caboraje:</label>
            <div class="col-md-2">
               <input ui-number-mask="2" ng-model="derivados.model.porcentajeCrudoCargado" disabled="disabled" class="form-control input-sm" />
            </div>
         </div>
         <div class="mb-sm clearfix">
            <label class="col-md-6 control-label">4. Volumen total derivados exportado :</label>
            <div class="col-md-2">
               <input ui-number-mask="2" ng-model="derivados.model.volumenTotalDerivados" class="form-control input-sm" />
            </div>
         </div>
         <div class="mb-sm clearfix">
            <label class="col-md-6 control-label">5. Volumen total derivados CIB-CAR llevados a Cartagena por cabotaje para exportarlos :</label>
            <div class="col-md-2">
               <input ui-number-mask="2" ng-model="derivados.model.volumenTotalDerivadosCIBCabotaje" disabled="disabled" class="form-control input-sm" />
            </div>
         </div>
         <div class="mb-sm clearfix">
            <label class="col-md-6 control-label">6. Volumen total derivados CIB-CAR llevados a Cartagena a través de DUCTO para exportarlos (combustóleo) :</label>
            <div class="col-md-2">
               <input ui-number-mask="2" ng-model="derivados.model.volumenTotalDerivadosCIBDucto" class="form-control input-sm" />
            </div>
         </div>
         <div class="mb-sm clearfix">
            <label class="col-md-6 control-label">7. Volumen ALC que se devuelve CIB-CAR y que no fué usado como fase agradada en el transporte de los derivados de la fila anterior :</label>
            <div class="col-md-2">
               <input ui-number-mask="2" ng-model="derivados.model.volumenALC" class="form-control input-sm" />
            </div>
         </div>
         <div class="mb-sm clearfix">
            <label class="col-md-6 control-label">8. Volumen total exportado con derecho a regalias :</label>
            <div class="col-md-2">
               <input ui-number-mask="2" ng-model="derivados.model.volumenTotalExportado" disabled="disabled" class="form-control input-sm" />
            </div>
         </div>
         <div class="mb-sm clearfix">
            <label class="col-md-6 control-label">9. Calculo de Regalia :</label>
            <div class="col-md-2">
               <input ui-number-mask="2" ng-model="derivados.model.calculoRegalia" disabled="disabled" class="form-control input-sm" />
            </div>
         </div>
      </fieldset>
   </div>
</div>