<h3>TRM</h3>
<div class="row">
   <div class="panel">
      <div class="panel-body">
         <div class="row">
            <form role="form" class="form-horizontal mb-lg col-md-7">
               <fieldset class="mb-sm pb-sm">
                  <div class="mb-sm clearfix">
                     <label class="col-sm-2 control-label">Año</label>
                     <div class="col-sm-4">
                        <select ng-model="year.current" ng-options="year.name for year in year.data" class="form-control"></select>
                     </div>
                     <label class="col-sm-2 control-label">Mes</label>
                     <div class="col-sm-4">
                        <select ng-model="month.current" ng-options="month.name for month in month.data" class="form-control"></select>
                     </div>
                  </div>
                  <div class="mb-sm clearfix">
                     <br/>
                     <button type="button" ng-click="consultar()" class="btn btn-sm btn-primary">
                        <span class="hidden-xs">CONSULTAR</span>
                     </button>
                     <button type="button" ng-click="uploadFile()" class="btn btn-sm btn">
                        <span class="hidden-xs">CARGAR DE EXCEL...</span>
                     </button>
                  </div>
               </fieldset>
            </form>
         </div>
         <div class="input-group m0 col-xs-6 col-sm-3 pull-left">
            <span class="input-group-addon input-sm">
               <em class="icon-magnifier"></em>
            </span>
            <input type="text" ng-change="dataPage.filter()" ng-model="dataPage.filterText" class="form-control input-sm" />
         </div>
      </div>
      <div class="panel-body p0">
         <div class="table-responsive table-bordered">
            <table class="table table-hover wd-wide">
               <thead>
                  <tr>
                     <th>FECHA</th>
                     <th>VALOR</th>
                  </tr>
               </thead>
               <tbody>
                  <td colspan="2" ng-show="dataPage.loading" class="height-lg">
                     <p class="text-center"><i class="fa fa-spinner fa-spin fa-2x text-muted"></i>
                     </p>
                     <p class="text-center lead text-primary">{{ 'app.LOADING_TEXT' | translate }}</p>
                  </td>
                  <td colspan="2" ng-show="dataPage.noData" class="height-lg">
                     <p class="text-center lead text-primary">{{ 'app.NO_DATA' | translate }}</p>
                  </td>
                  <tr ng-repeat="item in dataPage.data" ng-class="{true: 'active'}[item.check]">
                     <td>{{ item.fechaMostrar }}</td>
                     <td>{{ item.valor }}</td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
      <div class="row">
         <div ng-hide="dataPage.paginations.numPages == 1" class="col-lg-12">
            <pagination total-items="dataPage.paginations.totalItems" ng-model="dataPage.paginations.currentPage" max-size="dataPage.paginations.maxSize" boundary-links="true" rotate="false" items-per-page="dataPage.paginations.itemsPerPage" previous-text="‹"
            next-text="›" num-pages="dataPage.paginations.numPages" ng-change="dataPage.changePage()" first-text="«" last-text="»" class="m pagination-sm pull-right"></pagination>
         </div>
      </div>
   </div>
</div>