// Inline template with sidebar items markup and ng-directives
script(type='text/ng-template', id="sidebar-renderer.html")
  span(ng-if="item.heading") {{(item.translate | translate) || item.text}}
  a(ng-if="!item.heading", ng-click="changeOptions(item)" ng-href="{{$state.href(item.sref, item.params)}}", title="{{item.text}}")
    .pull-right(ng-if="item.alert", ng-class="item.label || 'label label-success'") {{item.alert}}
    em(class="{{item.icon}}", ng-if="item.icon")
    span {{(item.translate | translate) || item.text}}
  ul(class="nav sidebar-subnav", ng-if="item.submenu", collapse="isCollapse(pIndex)",  ng-init="addCollapse(pIndex, item)")
    li.sidebar-subnav-header {{(item.translate | translate) || item.text}}
    li(ng-repeat='item in item.submenu', ng-include="'sidebar-renderer.html'", ng-class="getMenuItemPropClasses(item)", ng-init="pIndex=(pIndex+'-'+$index); inSubmenu = true", ng-click="toggleCollapse(pIndex)")

// START Sidebar (left)
.aside-inner
  nav.sidebar(sidebar="", sidebar-anyclick-close="")
    // START sidebar nav
    ul.nav
      // START user info
      li.has-user-block
        div(collapse="userBlockVisible", ng-controller="UserBlockController")
          .item.user-block
            // User picture
            .user-block-picture
              .user-block-status(ng-hide="editing")
                img.img-thumbnail.img-circle( ng-src="{{user.picture}}", alt="Avatar")
                label.custom-file-upload(for='file-upload')
                  i.fa.fa-pencil-square.text-success
                input.imageFile#file-upload(type='file',custom-on-change="handleFileSelect")
              .cropArea(ng-show="editing")
                img-crop(image='myImage', result-image='myCroppedImage')
                .box-editing-button.text-md
                  i.fa.fa-check-circle.text-success.mr-sm
                  i.fa.fa-arrow-circle-left.text-danger(ng-click="setEditing(false)")
              
            // Name and Job
            .user-block-info
              span.user-block-name {{ 'sidebar.WELCOME' | translate }} {{user.name}}
              span.user-block-role {{user.job}}
      // END user info

      // Iterates over all sidebar items
      li(ng-class="getMenuItemPropClasses(item)", ng-repeat='item in menuItems', ng-init="pIndex = $index", ng-include="'sidebar-renderer.html'", ng-click="toggleCollapse(pIndex, true, item)")
    // END sidebar nav

// END Sidebar (left)
