html
  body
    div
      | Select an image file: 
      input#fileInput(custom-on-change="handleFileSelect",type='file')
    .cropArea
      img-crop(image='myImage', result-image='myCroppedImage')
    div Cropped Image:
    div
      img(ng-src='{{myCroppedImage}}')
