<h3>
   <span class="text-primary">Párrafos</span>
</h3>
<div class="row">
   <div class="col-sm-10">
      <div class="panel">
         <div class="panel-body p0">
            <div class="mb-sm clearfix">
               <div class="col-sm-2"></div>
               <label class="col-sm-1 control-label">Reporte:</label>
               <div class="col-sm-5">
                  <select ng-model="reporte.current" ng-options="item.nombre for item in reporte.data" ng-change="reporte.getData()" class="form-control"></select>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-sm-10">
      <div class="panel panel-default">
         <div class="panel-body">
            <form class="form-horizontal"></form>
            <fieldset>
               <legend>Reporte: {{reporte.current.nombre}}</legend>
               <div style="width: 100%; height: 400px;" class="table-responsive table-bordered">
                  <table class="table table-hover wd-wide">
                     <thead>
                        <tr>
                           <th>SECCIÓN</th>
                           <th>ID</th>
                           <th>TEXTO</th>
                           <TH>ESTILO</TH>
                           <th></th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr ng-repeat="item in gridOptions.data" ng-init="showTextArea=false">
                           <td>{{item.seccion}}</td>
                           <td>{{item.id}}</td>
                           <td ng-if="showTextArea==false">{{item.texto}}</td>
                           <td ng-if="showTextArea==true">
                              <textarea ng-model="item.texto" colspan="5" class="form-control"></textarea>
                           </td>
                           <td ng-if="showTextArea==false">{{item.estilo}}</td>
                           <td ng-if="showTextArea==true">
                              <select ng-model="estilos.current" ng-options="item.nombre for item in estilos.data" ng-change="" class="form-control"></select>
                           </td>
                           <td class="wd-sm">
                              <div class="ph m0 visible-inline pull-right">
                                 <em tooltip="Editar" tooltip-placement="bottom" ng-click="showTextArea=!showTextArea" class="icon-pencil mr"></em>
                                 <em tooltip="Eliminar" tooltip-placement="bottom" ng-click="gridOptions.removeItem(item)" class="icon-trash mr text-danger"></em>
                              </div>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </fieldset>
         </div>
      </div>
   </div>
</div>
<div class="container-fluid">
   <!-- doesn't support controllerAs syntax https://github.com/voidberg/html5sortable/issues/86-->
   <ul html-sortable="sortableOptions" html-sortable-callback="sortableCallback" ng-model="data1" class="list-group">
      <li ng-repeat="itm in data1" class="list-group-item">
         <em class="fa fa-reorder fa-fw text-muted mr-lg"></em>{{itm.name}}</li>
   </ul>
   <button ng-click="add()" class="btn btn-info">Add another</button>
</div>